<div class="summary-generic ">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in’ voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. </p>
</div>
<div class="city-banner"><img src="/images/cityscape-wide.png"></div>
<div class="facts-stats shadow-inset-tb bg-diag section">
	<div class="map-bg"></div>
	<h2>Facts and Stats</h2>
	<ul class="clearfix infograph">
		<li class="one-q">
			<h4>Cities on Livability</h4>
			<span class="medium-value">
				10,215
			</span>
			<span class="fill-bar" data="324057"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>1,891%</strong> Increase over 2013
			</span>
		</li>
		<li class="one-q">
			<h4>Cities Visited</h4>
			<span class="medium-value">
				2,123
			</span>
			<span class="fill-bar" data="117068"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>24.1%</strong> Increase from 2013
			</span>
		</li>
		<li class="one-q">
			<h4>Avg Monthly Visitors</h4>
			<span class="medium-value">
				238,568
			</span>
			<span class="fill-bar" data="117068"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>68.2%</strong> Increase from 2013
			</span>
		</li>
		<li class="one-q last">
			<h4>Avg Monthly Pageviews</h4>
			<span class="medium-value">
				1,265,137
			</span>
			<span class="fill-bar" data="117068"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>30.4%</strong> Increase over 2013
			</span>
		
		</li>
	</ul>
</div>
<div class="leadership section clearfix">
	<h2>Leadership Team</h2>
	<ul class="leaders">
		<li class="one-q">
			<span class="center-bg circle" style="background-image: url('/images/best-of/college-towns.jpg')">
            </span>
            <span class="name">Bob Schwartzman</span>
            <span class="title">President</span>
        </li>
        <li class="one-q">
			<span class="center-bg circle" style="background-image: url('/images/best-of/college-towns.jpg')">
            </span>
            <span class="name">Michael Barber</span>
            <span class="title">SVP, Publisher</span>
        </li>
        <li class="one-q">
			<span class="center-bg circle" style="background-image: url('/images/best-of/college-towns.jpg')">
            </span>
            <span class="name">Casey Hester</span>
            <span class="title">SVP, Operations</span>
        </li>
        <li class="one-q">
			<span class="center-bg circle" style="background-image: url('/images/best-of/college-towns.jpg')">
            </span>
            <span class="name">Jarek Swekowsky</span>
            <span class="title">SVP, Business Development</span>
        </li>
    </ul>
</div>
<div class="partners section grey-bg shadow-inset-tb clearfix">
	<h2>Partners</h2>
	<ul>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
	</ul>
</div>
<div class="about section">
	<h2>About Journal Communications</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. </p>
	<ul class="logos clearfix">
		<li class="one-q"><img src="/images/logos/journal-communications.png" alt="Journal Communications Logo"></li>
		<li class="one-q"><img src="/images/logos/livability.png" alt="Livability Logo"></li>
		<li class="one-q"><img src="/images/logos/business-climate.png" alt="Business Climate Logo"></li>
		<li class="one-q"><img src="/images/logos/farm-flavor.png" alt="Farm Flavor Logo"></li>
	</ul>
</div>