<div class="articles grey-bg padded shadow-inset-lr">
    <span class="articles-content">
        <ul class="clearfix article-slider">
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/marathon.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-entertainment white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>New Trend Alert:</span> Team Marathons</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/green.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-business white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html">Where Green Start-Ups Call Home</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/help.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-housing white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>New Home Blues?</span> We're here to help!</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">
                <span class="image-icon">                                
                    <a href="/article.html"><img src="/images/articles/transportation.jpg" alt="Transportation!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-transportation white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>From Point A to B:</span> Industry Experts Discuss</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">        
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/green.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-health white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>New Home Blues?</span> We're here to help!</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third more-stories"> 
                <span class="image-icon">   
                    <img src="/images/article-image-placeholder.png"/>  
                    <span class="more">
                        <a href="#" >
                            More <br>Stories
                        </a>
                        Select a category to view more
                    </span>
                </span>
                <span class="summary">
                    <ul class="circle-stroke-white clearfix">
                        <li>
                            <a href="#">
                                <i class="icon-guides white"></i>
                                <span>Guides</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-transportation white"></i>
                                <span>Transportation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-education white"></i>
                                <span>Education</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-business white"></i>
                                <span>Business</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-housing white"></i>
                                <span>Housing</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-health white"></i>
                                <span>Healthcare</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-demographics white"></i>
                                <span>Demographics</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-government white"></i>
                                <span>Government</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               <i class="text">ALL</i>
                            </a>
                        </li>
                    </ul>
                </span>
            </li>
        </ul>
    </span>
    <span class="more-stories mobile-only">
        <a href="#" class="js-expand more">More Stories <i class="icon-arrow-down-circle white expand"></i><i class="icon-arrow-up-circle white expanded"></i></a>

        <ul class="circle-stroke-white expand-target">
            <li>
                <a href="#">
                    <i class="icon-guides white"></i>
                    <span>Guides</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-transportation white"></i>
                    <span>Transportation</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-education white"></i>
                    <span>Education</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-business white"></i>
                    <span>Business</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-housing white"></i>
                    <span>Housing</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-health white"></i>
                    <span>Healthcare</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-demographics white"></i>
                    <span>Demographics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-government white"></i>
                    <span>Government</span>
                </a>
            </li>
            <li>
                <a href="#">
                   <i class="text">ALL</i>
                </a>
            </li>
        </ul>
    </span>
</div>