<article>
    <span class="padded clearfix">
        <h1>Why do the Smartest Cities have the Smallest Share of Cars?</h1>
        <span class="synopsis clearfix">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam justo odio, porttitor in commodo ac, tincidunt in metus. Nunc convallis aliquam turpis in ullamcorper. 
            </p>
            <span class="author">
                By <a href="#">Natasha Lorens</a> on February 28, 2014 at 8:15 em EST
            </span>
        </span>
        
    </span>
    <span class="full">
        <span class="featured-image shadow-bottom  clearfix">
            <span href="#" class="center-bg shadow-inset-lr" style="background-image: url('/images/banners/golf.jpg')">Golf is Fun!</span>
        </span>
    </span>
    <span class="padded">
        <span class="l-275">
            <span class="highlights">
                <h4>
                    Highlights
                </h4>
                <ul class="bullet">
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                </ul>
            </span>
            <span class="no-mobile"><!--#include virtual="/views/ads/ad180.html"--></span>
            <span class="mobile-only"><!--#include virtual="/views/ads/ad300.html"--></span>
            <span class="quote">
                <i class="icon-quote-open green"></i>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                <span class="author">Dr. Ken Moore, MAYOR</span>
            </span>
        </span>

        <span class="article-content r-275-full">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tempus est. Fusce sit amet purus sed mauris congue sollicitudin. In hac habitasse platea dictumst. Phasellus urna magna, laoreet in mi vulputate, euismod faucibus nisl. Phasellus volutpat urna lacus, id volutpat risus fermentum ac. Curabitur eu porta est. Morbi quis hendrerit nunc. Donec id felis eget nisi luctus placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vitae nulla a sem bibendum dictum. Suspendisse potenti. Vestibulum in urna ligula. Duis tempor, lacus a luctus rhoncus, nisi felis pharetra erat, sit amet porta arcu nunc id tortor. Sed laoreet massa ac placerat congue.
            </p>
            <p>
                Integer semper enim eget dui vestibulum, eget ultricies enim consequat. Donec laoreet purus a eros sollicitudin, vitae condimentum justo aliquam. Quisque nisl arcu, laoreet non rhoncus a, rhoncus a nunc. In hac habitasse platea dictumst. Curabitur condimentum, sapien quis condimentum vehicula, nulla sapien fermentum felis, eget pellentesque lectus diam non odio. Ut id tempus elit. Morbi vitae turpis eu velit ornare pellentesque.
            </p>
            <img class="shadow-bottom" src="/images/banners/cityscape.jpg" alt="City Scape">
            <span class="caption">Photo credit: Jefferey Otto, Otto Photography and Honey</span>
            <p>
                Maecenas vehicula vehicula congue. Ut lacinia sollicitudin urna. Praesent nec urna eu dui faucibus posuere. Vestibulum porttitor massa in tristique condimentum. Donec nec nisi eu urna consectetur gravida eu id lacus. Etiam lacus quam, tempor at feugiat quis, vulputate in ipsum. Suspendisse in sollicitudin turpis. Mauris ultricies facilisis nisi. Nam sit amet lacus id libero aliquam egestas vel vitae dui. Nulla id tempus lorem, eu facilisis lectus. Ut neque libero, rutrum et vulputate sit amet, tempor a magna. Vivamus viverra malesuada augue ut pretium. In adipiscing elit vitae scelerisque ornare.
            </p>
            <p>
                Etiam porta luctus volutpat. Nullam interdum tortor eget risus hendrerit, eget vestibulum libero porttitor. Vivamus quis nulla vel nibh tempor posuere vel sit amet nisl. Aliquam aliquam orci non vehicula placerat. Ut auctor, justo eget sagittis semper, nulla ante vulputate est, sit amet lobortis nibh arcu vel justo. Cras ultrices, sapien in molestie accumsan, elit nisi ornare tellus, at varius sem ipsum consectetur mi. Praesent rutrum sem eget arcu bibendum, vitae blandit purus bibendum.
            </p>
            <p>
                Pellentesque ac placerat ante. Maecenas suscipit adipiscing posuere. Integer commodo erat vitae purus molestie accumsan. Proin facilisis molestie nibh ut lacinia. Curabitur sagittis ornare eros, id porta augue varius ut. Proin quis luctus justo. Suspendisse malesuada, leo sed tincidunt iaculis, massa quam venenatis nisl, id adipiscing magna est at nisi. Sed pulvinar magna quis risus facilisis semper. Duis condimentum urna neque, eu vehicula enim tincidunt eu. Nunc lacinia egestas augue, ac pellentesque lectus bibendum eu. Suspendisse sollicitudin lacus arcu, sed interdum enim aliquam imperdiet. Ut sit amet odio eget nulla consequat vehicula. Aliquam id urna ut purus consectetur scelerisque. Integer ac augue id felis auctor lobortis a non purus. Integer mattis lacinia massa eget interdum. 
            </p>
        </span>

        <span class="article-author clearfix">
            <span class="article-author-container">
                <span class="headshot circle" style="background-image: url('/images/headshots/greg.png')"></span>
                <span class="bio clearfix">
                    <a href="#" class="name">Greg Hanson</a> <span class="title">Editor, Livability.com</span>
                    <p>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vitae nulla a sem bibendum dictum. Suspendisse potenti. Vestibulum in urna ligula. Duis tempor, lacus a luctus rhoncus, nisi felis pharetra erat, sit amet porta arcu
                    </p>
                </span>
            </span>

            <span class="ad300-right no-mobile">
                <a href="#" class="ad300"><img src="http://placehold.it/300x100" alt="Advertisement Place Holder"></a>
            </span>
        </span>
    </span>
    <span class="article-links shadow-inset-lr clearfix">
        <span class="padded">               
            <span class="half">
                <span class="title">From Around the Web</span>
                <ul class="bullet">
                    <li>
                        <a href="#">Are You Driving One of the 10 Best Cars on the Road Today?</a> Car & Driver
                    </li>
                    <li>
                        <a href="#">Hot Pictures of Katherine Webb, A.J. McCarron's Girlfriend</a> Rant Sports
                    </li>
                    <li>
                        <a href="#">12 Affordable Cars That Make You Look Rich</a> Mens Magazine
                    </li>
                    <li>
                        <a href="#">Inside Matt Damon's Mega-Estate -- As He Puts It Up For Sale </a>Lonny Magazine
                    </li>
                    <li>
                        <a href="#">A Gem from the Heavens: Brighter than a Diamond, Stronger than a Sapphire and Ethically Cultured </a>DGI Wire
                    </li>
                    <li>
                        <a href="#">The Secret Way to Save Hundreds of Dollars on 5-star hotels</a> StyleBlueprint
                    </li>
                </ul>

            </span>
            <span class="half last">
                <span class="title">More From Livability</span>
                <ul class="bullet">
                    <li>
                        <a href="#">Integer semper enim eget dui vestibulum, eget ultricies enim consequat. </a>
                    </li>
                    <li>
                        <a href="#">Donec laoreet purus a eros sollicitudin, vitae condimentum justo aliquam </a>
                    </li>
                    <li>
                        <a href="#">Quisque nisl arcu, laoreet non rhoncus a, rhoncus a nunc. In hac habitasse platea dictumst</a>
                    </li>
                    <li>
                        <a href="#">Curabitur condimentum, sapien quis condimentum vehicula, nulla sapien fermentum felis, eget pellentesque </a>
                    </li>
                    <li>
                        <a href="#">Lectus diam non odio. Ut id tempus elit. Morbi vitae turpis eu velit ornare pellentesqu.</a>
                    </li>
                    <li>
                        <a href="#">In hac habitasse platea dictumst</a>
                    </li>
                </ul>
            </span>
        </span>                
    </span>

    <a href="#" class="ad728 no-mobile"><img src="http://placehold.it/728x90" alt="Advertisement Place Holder"></a>

    <span class="comments padded">
        <span class="summary">
            <span class="title">
                <i class="comments-green"></i><span class="count">412</span> Reader Comments
            </span>
            
            <span class="description">
                Use a Facebook account to comment. Subject to Facebook's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. Your Facebook name, photo other personal information you make public on Facebook will appear with your comment. <a href="#">Learn more</a>
            </span>
        </span>
        <img class="facebook-comments" src="/images/facebook-comments-placeholder.jpg" alt="replace me with Facebook commenting system" />
    </span>   
</article> 