<div class="best-of">
    <ul class="clearfix">
        <li>
            <a href="#">
                <span class="center-bg circle" style="background-image: url('/images/best-of/college-towns.jpg')">
                    <span class="fill-overlay circle">
                        <span class="seal-orange no-mobile"><i class="icon-top10 white"></i></span>
                    </span>
                    
                </span>            
                <span class="left">
                    <h2>
                        <span>Best</span> College Towns<i class="icon-arrow-right-circle no-mobile"></i>
                    </h2>
                </span>
            </a>
            <span class="interact">
                <a href="#"><i class="icon-share grey"></i>Share</a><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a>
            </span>
        </li>
        <li>
            <a href="#">
                <span class="center-bg circle" style="background-image: url('/images/best-of/retirement-cities.jpg')">
                    <span class="fill-overlay circle">
                        <span class="seal-orange no-mobile"><i class="icon-top10 white"></i></span>        
                    </span>
                </span>
                <span class="left">
                    <h2>
                        <span>Best</span> Retirement Cities<i class="icon-arrow-right-circle no-mobile"></i>
                    </h2>
                </span>
            </a>
            <span class="interact">
                    <a href="#"><i class="icon-share grey"></i>Share</a><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a>
            </span>
        </li>
        <li>
            <a href="#">
                <span class="center-bg circle" style="background-image: url('/images/best-of/small-towns.jpg')">
                    <span class="fill-overlay circle">
                        <span class="seal-orange no-mobile"><i class="icon-top10 white"></i></span>        
                    </span>
                </span>
                <span class="left">
                    <h2>
                        <span>Best</span> Small Towns<i class="icon-arrow-right-circle no-mobile"></i>
                    </h2>
                </span>
            </a>
            <span class="interact">
                    <a href="#"><i class="icon-share grey"></i>Share</a><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a>
            </span>
        </li>
    </ul>
</div>