<article>
    <span class="padded clearfix">
        <h1>Top 100 Best Places to Live</h1>
        <span class="top-10-nav clearfix">
            <a href="#" class="mobile-only js-expand share-toggle"><i class="icon-share"></i></a>
            <span class="social-full left clearfix expand-target">
                <ul>
                    <li class="facebook">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-facebook-square white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-twitter white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="gplus">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-googleplus white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="pinterest">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="i icon-pinterest white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="addthis last">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="social-addthis-small-white"> + </i>
                            </span>
                        </a>
                    </li>
                </ul>
            </span>
        </span>
    </span>    
    <span class="padded top-100">
        <p>
            Big cities tend to get all the love. We here at Livability know that there are great stories to be told in smaller places, too. Our ranking of the top 100 best places to live focuses on small to mid-sized cities and what makes them great places to live and work. Many of these are towns that don’t usually get their fair share of the limelight. We’re happy to shine some in their direction. We worked with trusted partners, stellar advisors, and the best public and private data sources to develop our ranking. The cities on the list excelled in our criteria. These towns are places where residents are able to take full advantage of a wide variety of amenities and offerings -- everything from parks and museums to different commuting options to hospitals. Spend some time getting to know them and when it comes time for your next move, maybe you'll think small.
        </p>
        <span class="top-100-key">
            <span class="city-score">600</span>  = The city’s overall score, based on the weighted sum of the eight component scores.
        </span>

        <ul class="top-100-tabs">
            <li class="active"><a href="#">Rankings</a></li>
            <li><a href="#">Ranking Data</a></li>
        </ul>
        <ul class="top-100-links">
            <li><a href="#">Ranking Criteria</a></li>
            <li><a href="#">Ranking Methodology</a></li>
            <li><a href="#">Ranking Advisory Board</a></li>
        </ul>
        <span class="top-100-content rankings">
            <ul class="clearfix">
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
                <!--#include virtual="/views/top-100-city.html"-->
            </ul>
            <span class="ranking-info">
                <p>
                    Livability.com's ranking of the Best Places to Live includes cities and towns with populations from 20,000 to 350,000 as of the 2010 Census. Ties are broken by raw numbers. Please see the full methodology for data sources and details.
                </p>
                <p>
                    Correction: An error in Madison, Wisconsin's education component has been corrected. Only Madison's score was impacted, but this caused a substantive change in its ranking. After a review of the other 1,700 cities, we have 
                    re-ranked the top 100 accordingly. Livability.com regrets the error.
                </p>
            </span>
            <ul class="pagination clearfix">
                <li class="active"><a href="#">1-10</a></li>
                <li><a href="#">11-20</a></li>
                <li><a href="#">21-30</a></li>
                <li><a href="#">31-40</a></li>
                <li><a href="#">41-50</a></li>
                <li><a href="#">51-60</a></li>
                <li><a href="#">61-70</a></li>
                <li><a href="#">71-80</a></li>
                <li><a href="#">81-90</a></li>
                <li><a href="#">91-100</a></li>
                <li><a href="#">></a></li>
            </ul>


        </span>

    </span>
      
</article> 