<div class="best-places shadow-inset-t clearfix">
    <h1><span>Find Your</span> Best Place to Live</h1>
    <ul class="clearfix">           
        <li class="shadow-inset-t last">
            <a href="/top-10-intro.html"><span>Browse<br> Top 10<br> Lists</span><i class="icon-arrow-right-circle white"></i></a>
        </li>
        <li class="shadow-inset-t">
            <a href="/best-places-top-100.html"><span>Top 100<br> best places<br> to live</span><i class="icon-arrow-right-circle white"></i></a>
        </li>
         <li class="shadow-inset-t">
            <a href="#"><span>Best<br> Places<br> by state</span><i class="icon-arrow-right-circle white"></i></a>
        </li>
    </ul>
</div>