<div class="blog-index padded grey-bg shadow-inset-lr">
	<ul class="clearfix">
		<li>
			<span class="featured-image shadow-bottom  clearfix">
            	<a href="/blog-post.html"><span href="#" class="center-bg shadow-inset-lr" style="background-image: url('/images/banners/golf.jpg')">Golf is Fun!</span></a>
        	</span>
        	<span class="blog-details">
        		<span class="blog-category">
		        	<span class="circle-icon">
		        		<span class="sticker-orange-horizontal">
		        			<i class="icon-demographics white"></i>
		        		</span>
		        	</span>
		        	<a href="#">Demographics</a>
		        </span>
	        	<h1><a href="/blog-post.html"><strong>Population Trend: </strong>surge of suburban-to-urban Migration in our biggest cities</a></h1>
	        	<span class="author">By <a href="#">Natasha Lorens</a> on February 28, 2014 at 8:15 am EST</span>
	        	<p>
	        		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/blog-post.html">Read More</a>
	        	</p>
	        	 <span class="interact">
	                <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
	            </span>
	        </span>
		</li>
		<li>
			<span class="blog-details">
        		<span class="blog-category">
		        	<span class="circle-icon">
		        		<span class="sticker-orange-horizontal">
		        			<i class="icon-transportation white"></i>
		        		</span>
		        	</span>
		        	<a href="#">Transportation</a>
		        </span>
	        	<h1><a href="/blog-post.html"><strong>Population Trend: </strong>surge of suburban-to-urban Migration in our biggest cities</a></h1>
	        	<span class="author">By <a href="#">Natasha Lorens</a> on February 28, 2014 at 8:15 am EST</span>
	        	<p>
	        		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/blog-post.html">Read More</a>
	        	</p>
	        	 <span class="interact">
	                <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
	            </span>
	        </span>
		</li>
		<li>
			<span class="featured-image shadow-bottom  clearfix">
            	<a href="/blog-post.html"><span href="#" class="center-bg shadow-inset-lr" style="background-image: url('/images/banners/hospital.jpg')">Hospitals rock!</span></a>
        	</span>
			<span class="blog-details">
        		<span class="blog-category">
		        	<span class="circle-icon">
		        		<span class="sticker-orange-horizontal">
		        			<i class="icon-health white"></i>
		        		</span>
		        	</span>
		        	<a href='#'>Health</a>
		        </span>
	        	<h1><a href="/blog-post.html"><strong>Population Trend: </strong>surge of suburban-to-urban Migration in our biggest cities</a></h1>
	        	<span class="author">By <a href="#">Natasha Lorens</a> on February 28, 2014 at 8:15 am EST</span>
	        	<p>
	        		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/blog-post.html">Read More</a>
	        	</p>
	        	 <span class="interact">
	                <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
	            </span>
	        </span>
		</li>
	</ul>
	<span class="no-mobile"><!--#include virtual="/views/ads/ad728.html"--></span>
</div>

<div class="show-more shadow-inset-lr">
	<a href="#">Show more posts <i class="icon-arrow-down-double white"></i></a>
</div>