<div class="articles padded grey-bg three-wide shadow-inset-lr">
    <span class="heading">Articles related to <strong>Rancho Santa Margarita, CA</strong></span>
    <span class="articles-content">
        <ul class="clearfix article-slider">
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/marathon.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-entertainment white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>New Trend Alert:</span> Team Marathons</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/green.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-business white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html">Where Green Start-Ups Call Home</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
            <li class="one-third">
                <span class="image-icon">
                    <a href="/article.html"><img src="/images/articles/help.jpg" alt="Golf is Fun!"/></a>
                    <span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-housing white"></i></span></span>
                </span>
                <span class="summary">
                    <h2><a href="/article.html"><span>New Home Blues?</span> We're here to help!</a></h2>
                    <span class="date no-mobile">February 10, 2014</span>
                    <p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ...</p>
                    <span class="interact">
                        <a href="#"><i class="icon-share grey"></i>Share</a><a href="#"><i class="icon-comments grey"></i>32 comments</a>
                    </span>
                </span>
            </li>
        </ul>
    </span>   
</div>