<div class="city-topic-summary city-population-summary padded">
	<h1>Population of Prescott, Arizona</h1>
	<p class="truncate-mobile-250">
		<strong>100 words</strong>
		lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem eget libero lacinia laoreet quis et lectus. Mauris id rhoncus mauris. Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Morbi sed neque odio. Fusce commodo nec augue malesuada. 
	</p>
	<div>
		<ul class="clearfix infograph">
			<li class="two-third">
				<span class="large-value">123,456</span>
				<span class="description">based on 2012 U.S.<br> Census Data</span>
				<span class="change">
					<i class="icon-arrow-up green"></i><strong>7%</strong> Increase since 2005 U.S. Census
				</span>
				<span class="compare-regions">
					<ul>
		                <li class="one-third">
		                        <input id="metro-rate" class="donut-graph" value="52%">    
		                        <label for="metro-rate">county</label>
		                </li>
		                <li class="one-third">
		                        <input id="state-rate" class="donut-graph" value="31%">    
		                        <label for="state-rate">metro</label>
		                </li>
		                <li class="one-third">
		                        <input id="nation-rate" class="donut-graph" value="1.2%">    
		                        <label for="nation-rate">state</label>
		                </li>
		            </ul>
		        </span>
			</li>
			<li class="one-third">
				<h5>Nearby City, ST</h5>
				<span class="small-value">323,057</span>
				<span class="fill-bar" data="324057">
				</span>
				
				<h5>Nearby City, ST</h5>
				<span class="small-value">323,057</span>
				<span class="fill-bar" data="324057">
				</span>

				<h5>Nearby City, ST</h5>
				<span class="small-value">323,057</span>
				<span class="fill-bar" data="324057">
				</span>

				<h5>Nearby City, ST</h5>
				<span class="small-value">323,057</span>
				<span class="fill-bar" data="324057">
				</span>
			</li>
		</ul>
		
	</div>
</div>