<div class="city-gallery">
	<div class="fwImage">
	  <div id="gallery" class="royalSlider rsDefault">
	    <a class="rsImg" href="/images/city-images/montevista-896x600.jpg">
	    	<h2>City of Rancho Santa Margarita, CA</h2>
			<p class="no-mobile">Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Fusce commodo nec augue malesuada.</p>
	    	<img class="rsTmb" src="/images/city-images/montevista-t.jpg" />
	    </a>
	    <a class="rsImg" href="/images/city-images/golf-896x600.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. </p>
	    	<img class="rsTmb" src="/images/city-images/golf-t.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/5.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/5.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/6.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/6.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/7.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/7.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/8.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/8.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/9.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/9.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/10.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/10.jpg" />
	    </a>
	     <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/11.jpg">
	     	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	     	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/11.jpg" />
	     </a>
	     <a class="rsImg" href="/images/city-images/montevista-896x600.jpg">
	    	<h2>City of Rancho Santa Margarita, CA</h2>
			<p class="no-mobile">Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Fusce commodo nec augue malesuada.</p>
	    	<img class="rsTmb" src="/images/city-images/montevista-t.jpg" />
	    </a>
	    <a class="rsImg" href="/images/city-images/golf-896x600.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. </p>
	    	<img class="rsTmb" src="/images/city-images/golf-t.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/5.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/5.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/6.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/6.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/7.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/7.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/8.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/8.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/9.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/9.jpg" />
	    </a>
	    <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/10.jpg">
	    	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	    	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/10.jpg" />
	    </a>
	     <a class="rsImg" href="http://dimsemenov.com/plugins/royal-slider/img/paintings/11.jpg">
	     	<h2>Downtown Prescott: Home of Whiskey Row</h2>
			<p class="no-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor fringilla sapien et tempor. Nulla a erat ac lectus laoreet ultricies. Aliquam ac malesuada quam. Nunc vulputate, lacus vitae aliquet facilisis, enim ligula euismod tortor</p>
	     	<img class="rsTmb" src="http://dimsemenov.com/plugins/royal-slider/img/paintings/t/11.jpg" />
	     </a>
	  </div>
	</div>
	<script>
      	jQuery(document).ready(function($) {
      		
			var slider = $('#gallery').royalSlider({
				// fullscreen: {
				// 	enabled: true,
				// 	nativeFS: true
				// },
				controlNavigation: 'thumbnails',
				autoScaleSlider: true, 
				autoScaleSliderWidth: 923,     
				autoScaleSliderHeight: 737,
				loop: false,
				loopRewind: false,
				imageScaleMode: 'fit',
				imageScalePadding : 0,
				navigateByClick: true,
				numImagesToPreload:2,
				arrowsNav:true,
				arrowsNavAutoHide: false,
				arrowsNavHideOnTouch: true,
				keyboardNavEnabled: true,
				fadeinLoadedSlide: true,
				globalCaption: true,
				globalCaptionInside: true,
				slidesSpacing: 0,
				thumbs: {
				  appendSpan: true,
				  firstMargin: true,
				  
				  spacing:2,
				},
				deeplinking: {
		            enabled: true,
		            prefix: 'image-'
		        }
			});
			$('#gallery').css({
				opacity: 1
			})
		});
    </script>
</div>