<div class="city-details padded clearfix">
	<span class="city-map-small">
		<img src="/images/maps/prescott-map-small.jpg">
	</span>
	<span class="city-summary">
		<h1>City of Rancho Santa Margarita, CA</h1>
		<p class="truncate-mobile-350"><strong>100 words</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem eget libero lacinia laoreet quis et lectus. Mauris id rhoncus mauris. Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Fusce commodo nec augue malesuada. </p>
	</span>
</div>

<div class="padded">
	<ul class="clearfix infograph">
		<li class="one-third">
			<h4>Population</h4>
			<span class="medium-value">
				324,057
			</span>
			<span class="fill-bar" data="324057"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>7%</strong> Increase over 2013
			</span>
		</li>
		<li class="one-third">
			<h4>Median Household Income</h4>
			<span class="medium-value">
				$117,068
			</span>
			<span class="fill-bar" data="117068"></span>
			<span class="change">
				<i class="icon-arrow-down red"></i><strong>15%</strong> Decrease from 2013
			</span>
		</li>
		<li class="one-third last">
			<h4>Median Home Price</h4>
			<span class="medium-value">
				$100,057
			</span>
			<span class="fill-bar" data="117068"></span>
			<span class="change">
				<i class="icon-arrow-up green"></i><strong>38%</strong> Increase over 2013
			</span>
		
		</li>
	</ul>
</div>