<div class="city-weather-detailed padded grey-bg shadow-inset-lr clearfix">
	<span class="heading">More weather details for <strong>Prescott, AZ</strong></span>
	<span class="two-third white-bg">
		<h4><strong>Weather Radar</strong> for Prescott, AZ</h4>
		<span class="radar">
			<img src="/images/weather-radar.jpg"/>
		</span>
	</span>
	<span class="one-third white-bg last forecast-details">
		<h4><strong>Forecast</strong> details</h4>
		<ul class="clearfix">
			<li>
				<span class="condition">
					<i class="weather-sunrise"></i>
				</span>
				<span class="time">6:43 <span>am</span></span>
			</li>
			<li>
				<span class="condition">
					<i class="weather-sunset"></i>
				</span>
				<span class="time">7:16 <span>pm</span></span>
			</li>
			<li>
				<span class="condition">
					<i class="weather-basecloud"></i>
					<i class="weather-rainy"></i>
				</span>
				<span class="metric">0.15 <span>in</span></span>
			</li>
			<li>
				<span class="condition">
					<i class="weather-basecloud"></i>
					<i class="weather-snowy"></i>
				</span>
				<span class="metric">110 <span>in</span></span>
			</li>
		</ul>

	</span> 
	<span class="one-third white-bg last almanac">
		<h4><strong>Almanac</strong> for today</h4>
		<dl class="clearfix">
			<dt class="label">Temperature</dt>
			<dd><i>Avg.</i></dd>
			<dd><i>Range</i></dd>

			<dt>High</dt>
			<dd><strong>63 </strong>&degF</dd>
			<dd><strong>35 </strong>to <strong>86 </strong>&degF</dd>

			<dt>Low</dt>
			<dd><strong>36 </strong>&degF</dd>
			<dd><strong>18 </strong>to <strong>50 </strong>&degF</dd>
		</dl>

		<dl class="clearfix">
			<dt class="label">Percipitation</dt>
			<dd><i>Avg.</i></dd>
			<dd><i>Range</i></dd>

			<dt>Rain</dt>
			<dd><strong>0.02 </strong>in</dd>
			<dd><strong>0.00 </strong>to <strong>0.82 </strong>in</dd>

			<dt>Low</dt>
			<dd><strong>3.7 </strong>in</dd>
			<dd><strong>3.0 </strong>to <strong>5.0 </strong>in</dd>
		</dl>
		

	</span>


</div>