<div class="city-topic-summary padded">
	<h1>Hospitals in Prescott, Arizona</h1>
	<p class="truncate-mobile-250">
		<strong>100 words</strong>
		lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem eget libero lacinia laoreet quis et lectus. Mauris id rhoncus mauris. Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Morbi sed neque odio. Fusce commodo nec augue malesuada. 
	</p>
	<div>
		<ul class="clearfix infograph">
			<li class="one-third">
				<h4><span class="red">Accute Care </span>Hospitals</h4>
				<span class="large-value red">8</span>
				<span class="description">Within 30 miles of <br>Prescott, AZ</span>
			</li>
			<li class="one-third">
				<h4><span class="blue">Veterans </span>Hospitals</h4>
				<span class="large-value blue">121</span>
				<span class="description">Within 50 miles of <br>Prescott, AZ</span>
			</li>
			<li class="one-third">
				<h4><span class="orange">Children's </span>Hospitals</h4>
				<span class="large-value orange">14</span>
				<span class="description">Within 100 miles of <br>Prescott, AZ</span>
			</li>
		</ul>
		<ul class="clearfix infograph">
			<li class="one-third">
				<h4>Total Licensed Beds</h4>
				<span class="large-value green">12,245</span>
				<span class="description">Hospital beds<br> within 30 miles of <br>Prescott, AZ</span>
			</li>
			<li class="two-third last">
				<h4>Hospital Ownership</h4>
				<ul>
					<li class="one-fourth">
						<span class="donut-chart" id="for-profit">
							<input value="23%" class="donut-graph">
							<label for="for-profit">For-Profit</label>
						</span>
						
					</li>
					<li class="one-fourth">
						<span class="donut-chart" id="non-profit">
							<input value="36%" class="donut-graph">
							<label for="non-profit">Non-Profit</label>
						</span>
						
					</li>
					<li class="one-fourth">
						<span class="donut-chart" id="local-state">
							<input value="12%" class="donut-graph">
							<label for="local-state">Local/State Gov't</label>
						</span>
						
					</li>
					<li class="one-fourth">
						<span class="donut-chart" id="federal">
							<input value="23%" class="donut-graph">
							<label for="federal">Federal Gov't</label>
						</span>
						
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>