<div class="city-topics padded clearfix">
	<ul>
		<li class="half">
			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-education white"></i></span></span>
            </span>
			<span class="topic-content">
				<h2>Schools</h2>
				
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
		<li class="half">

			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-business white"></i></span></span>
            </span>
            <span class="topic-content">
				<h2>Business</h2>
				
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
		<li class="half">
			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-health white"></i></span></span>
            </span>
            <span class="topic-content">
				<h2>Health</h2>
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
		<li class="half">
			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-transportation white"></i></span></span>
            </span>
            <span class="topic-content">
				<h2>Transportation</h2>
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
		<li class="half">
			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-government white"></i></span></span>
            </span>
            <span class="topic-content">
				<h2>Governement</h2>
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
		<li class="half">
			<span class="topic-icon">
				<span class="circle-icon"><span class="sticker-orange-vertical"><i class="icon-housing white"></i></span></span>
            </span>
			<span class="topic-content">
				<h2>Housing</h2>
				<span class="in-city-state">
					In Prescott, Arizona
				</span>
				<span class="presented-by">
					Presented by: <!--#include virtual="/views/ads/ad88.html"-->
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				</p>
				<span class="topic-links">
					<a href="#">Public Schools in Prescott, AZ</a>
					<a href="#">Private Schools in Prescott, AZ</a>
					<a href="#">Colleges in Prescott, AZ</a>
				</span>
			</span>
		</li>
	</ul>
</div>