<div class="city-detailed-stats padded grey-bg shadow-inset-lr">
    <span class="heading">More Population Stats for <strong>Rancho Santa Margarita, CA</strong></span>
        <ul class="clearfix detailed-stats">
            <li class="one-third infograph">
                <h4><strong>Age</strong> Breakdown<span>in Rancho Santa Margarita</span></h4>
                <span class="main-stat">
                    <input class="donut-graph-large" id="health-rate" value="36%">
                </span>
                <span class="compare-groups">
                    <ul class="clearfix">
                        <li class="one-sixth">
                            < 5
                        </li>
                        <li class="one-sixth">
                            5-17
                        </li>
                        <li class="one-sixth">
                            18-24
                        </li>
                        <li class="one-sixth">
                            25-44
                        </li>
                        <li class="one-sixth">
                            45-65
                        </li>
                        <li class="one-sixth">
                            > 65
                        </li>
                    </ul>
                </span>
                <p>Percent of adults within Manatee County that reported to be in fair or poor health. (age-adjusted)</p>
            </li>
            <li class="one-third infograph">
                <h4><strong>Gender</strong> Breakdown<span>in Rancho Santa Margarita</span></h4>
                <span class="main-stat">
                    <span class="large-value">27.5</span>
                    <span class="description"><strong>Days</strong><br>per month</span>
                    <span class="compare-national">
                        <i class="icon-arrow-down red"></i> <span class="black">32%</span> lower than national average
                    </span>
                </span>

                <span class="compare-regions">             
                    <ul>
                        <li class="one-third">
                                <input id="metro-rate" class="donut-graph-small blue" value="23.8">    
                                <label for="metro-rate">metro</label>
                        </li>
                        <li class="one-third">
                                <input id="state-rate" class="donut-graph-small red" value="18.1">    
                                <label for="state-rate">state</label>
                        </li>
                        <li class="one-third">
                                <input id="nation-rate" class="donut-graph-small orange" value="3.1">    
                                <label for="nation-rate">nation</label>
                        </li>
                    </ul>
                </span>
                <p>Percent of adults within Manatee County that reported to be in fair or poor health. (age-adjusted)</p>
            </li>
            <li class="one-third infograph">
                <h4><strong>Race</strong> Breakdown<span>in Rancho Santa Margarita</span></h4>
                <span class="main-stat">
                    <span class="large-value">27.5</span>
                    <span class="description"><strong>Days</strong><br>per month</span>
                    <span class="compare-national">
                        <i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than national average
                    </span>
                </span>
               
                <span class="compare-regions">             
                    <ul>
                        <li class="one-third">
                                <input id="metro-rate" class="donut-graph-small blue"value="2.3">    
                                <label for="metro-rate">metro</label>
                        </li>
                        <li class="one-third">
                                <input id="state-rate" class="donut-graph-small red" value="18.9">    
                                <label for="state-rate">state</label>
                        </li>
                        <li class="one-third">
                                <input id="nation-rate" class="donut-graph-small orange" value="36.4">    
                                <label for="nation-rate">nation</label>
                        </li>
                    </ul>
                </span>
                <p>Percent of adults within Manatee County that reported to be in fair or poor health. (age-adjusted)</p>
                </span>
            </li>
        </ul>
</div>