<div class="city-topic-summary city-weather-summary padded">
	<h1>Weather in Prescott, Arizona</h1>
	<p class="truncate-mobile-250">
		<strong>100 words</strong>
		lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem eget libero lacinia laoreet quis et lectus. Mauris id rhoncus mauris. Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Morbi sed neque odio. Fusce commodo nec augue malesuada. 
	</p>
	<p> 
		View <a href="#">average temperatures</a> and <a href="#">average rainfall</a> page for more detail.
	</p>
	<div class="weather large-forecast">
		<span class="right-now">
	        <span class="temp">170&deg</span>
	        <span class="condition">
	            <i class="weather-basecloudfull"></i>
	            <i class="weather-sunny"></i>
	        </span>
	        <span class="condition-text">
	        	<strong>Partly Cloudy</strong><br>
	        	as of Saturday at 8:38 am
	        </span>

	        <span class="temp-toggle">
	            <a href="#" class="active fahrenheit">F</a>
	            <a href="#" class="celsius">C</a>
	        </span>

	    </span>
	    <span class="forecast-chart">
	    	<img src="images/forecast-chart.jpg">
	    </span>
	    <span class="forecast">
	        <ul class="clearfix">
	            <li>
	                <span class="day">TUE 4/29</span>
	                <span class="condition">
	                        <i class="weather-basecloud"></i>
	                        <i class="weather-snowy"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>
	            <li>
	                <span class="day">WED 4/30</span>
	                
	                <span class="condition">
	                    <i class="weather-basecloud"></i>
	                    <i class="weather-rainy"></i>
	                    <i class="weather-sunny"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>
	            <li>
	                <span class="day">THU 5/1</span>
	                <span class="condition">
	                    <i class="weather-basecloudfull"></i>
	                    <i class="weather-sunny"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>            
	            <li>
	                <span class="day">FRI 5/2</span>
	                <span class="condition">
	                    <i class="weather-sun"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>
	            <li>
	                <span class="day">SAT 5/3</span>
	                <span class="condition">
	                    
	                    <i class="weather-basecloud"></i>
	                    <i class="weather-thunder"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>
	            <li>
	                <span class="day">SUN 5/4</span>
	                <span class="condition">
	                	<i class="weather-basecloud"></i>
	                    <i class="weather-windy weather-sunny"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>                                    
	            <li>
	                <span class="day">MON 5/5</span>
	                <span class="condition">
	                    <i class="weather-cloud"></i>
	                </span>
	                <span class="temp-high">75&deg<span>Hi</span></span>
	                <span class="temp-low">8&deg<span>Lo</span></span>
	            </li>    
	        </ul>
	    </span>
	</div>
</div>