<span class="card-large">
    <span class="card-arrow"></span>
    <span class="card-content clearfix">
        <i class="icon-pin fill-white"></i>
        <span class="city-pin">
            <a href="#">
                
                <h1>Rancho Santa Margarita, <strong class="green">CA</strong></h1>
                <span class="county-area no-mobile">
                    Yavapai County, Prescott Metro Area
                </span>
            </a>
        </span>
        <span class="weather no-mobile">
            
            <span class="temp">103&deg
                <span class="condition">
                    <i class="weather-basecloud"></i>
                    <i class="weather-snowy"></i>
                </span>
                <span class="temp-toggle clearfix">
                    <a href="#" class="active fahrenheit">F</a>
                    <a href="#" class="celsius">C</a>
                </span>
            </span>
             
            <span class="condition-description">
                27% humidity<br>
                wind n at 19 mph
            </span>
        </span>
        <span class="clearfix">
            
            <span class="card-description">
                <p>
                    Santa Monica is a beachfront city in western Los Angeles County, California, United States. Situated on Santa Monica Bay, it is bordered on three sides by the city of Los Angeles – Pacific Palisades on the northwest, Santa Monica is home to many Hollywood celebrities and executives and is a mixture of  single-family neighborhoods, surfers, professionals, and students. <a href="#">Read More about Santa Monica, CA </a>
                </p>
                <h4>Cities near Santa Monica, CA</h4>
                <ul class="card-nearby">
                    <li>
                        <a href="#">Brentwood</a> 1.2 miles away
                    </li>
                    <li>
                        <a href="#">Venice</a> 2.5 miles away
                    </li>
                    <li>
                        <a href="#">Mar Vista</a> 4 miles away
                    </li>
                </ul>
            </span>

            <span class="card-stats city-stats">
                <dl>
                    <dt>Area:</dt>
                    <dd>15.9 SQ Miles (41.18 SQ KM)</dd>

                    <dt>Elevation:</dt>
                    <dd>105' (32 M)</dd>
                    
                    <dt>Local Time:</dt>
                    <dd>6:07PM</dd>
    
                    <dt>Population:</dt>
                    <dd>91,812 (2012)</dd>

                    <dt>Unemployment Rate:</dt>
                    <dd>8.4% (Aug 2013)</dd>
                </dl>
            </span>          
        </span>
    </span>
</span>