<div class="city-topic-summary padded">
	<h1>Health in Prescott, Arizona</h1>
	<p class="truncate-mobile-250">
		<strong>100 words</strong>
		lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem eget libero lacinia laoreet quis et lectus. Mauris id rhoncus mauris. Sed luctus a ipsum non semper. Aliquam turpis neque, bibendum ut velit vel, malesuada mollis nisi. Mauris vel mi ante. Integer turpis velit, laoreet et vehicula vitae, placerat eget arcu. Praesent quam augue, imperdiet quis blandit eu, venenatis blandit libero. Vestibulum ullamcorper lectus elit, gravida lobortis dolor lobortis sed. Pellentesque quis risus in eros facilisis placerat. Vestibulum sed lacinia purus. Donec ullamcorper sem adipiscing, pellentesque neque nec, varius nisi. Morbi sed neque odio. Fusce commodo nec augue malesuada. 
	</p>
	<div>
		<ul class="clearfix infograph">
			<li class="one-third">
				<h4>Health Outcomes Rank</h4>
				<span class="medium-value">35<sup>th</sup> <span>in Tennessee</span></span>
				<span class="fill-bar" data="324057">
				</span>
				<span class="out-of">out of <span>67 counties</span></span>
			</li>
			<li class="one-third">
				<h4>Health Factors Rank</h4>
				<span class="medium-value">32<sup>nd</sup> <span>in Tennessee</span></span>
				<span class="fill-bar" data="324057">
				</span>
				<span class="out-of">out of <span>67 counties</span></span>
			</li>
			<li class="one-third">
				<h4>Health Behaviors Rank</h4>
				<span class="medium-value">16<sup>th</sup> <span>in Tennessee</span></span>
				<span class="fill-bar" data="324057">
				</span>
				<span class="out-of">out of <span>67 counties</span></span>
			</li>
		</ul>
		<span class="disclaimer">Based on data from the County Health Rankings & Roadmaps</span>
		<ul class="clearfix infograph">
			<li class="half">
				<h4>Hospitals in Prescott, AZ</h4>
				<span class="circle-stroke blue-stroke">
					<i class="icon-hospital"></i>
				</span>
				<span class="description"><span class="blue">8 Hospitals</span> within 30 miles<br> of Prescott, AZ</span>
				<span class="description-small"><strong>5,432:1</strong> population to hospital ratio</span>
			</li>
			<li class="half last">
				<h4>Doctors in Prescott, AZ</h4>
				<span class="circle-stroke red-stroke">
					<i class="icon-doctor"></i>
				</span>
				<span class="description"><span class="red">2,568 doctors</span> <br>in Prescott, AZ</span>
				<span class="description-small"><strong>5,432:1</strong> population to primary care ratio</span>
			</li>
		</ul>
	</div>
</div>