<div class="locations-nearby padded grey-bg shadow-inset-lr clearfix">
	<span class="heading">Hospitals in <strong> Rancho Santa Margarita,CA</strong></span>
	<span class="locations-nearby-container clearfix">
		<span class="location-listings">
			<ul>
				<li class="listing">
					<i class="icon-pin green"></i>
					<h5>Prescott Valley Regional Medical Center</h5>
					<span class="summary">
						<span>Accute Care</span>
						<span>352 Licensed Beds</span>
					</span>
					<span class="address">
						<span class="street">1061 Lewisburg Pike</span>
						<span class="city">Franklin, TN 37064</span>
					</span>
					<span class="call-directions">
						<a class="phone" href="tel:+800-555-5555"><i class="icon-phone"></i>800-555-5555</a>
						<a class="getdirections" href="#"><i class="icon-directions"></i>Get Directions</a>
					</span>
					<span class="location-details">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3232.167060331346!2d-86.84919699999999!3d35.89392389999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88647f72c2075df1%3A0xeb3497ab90d6c761!2s1061+Lewisburg+Pike!5e0!3m2!1sen!2sus!4v1399052569715" width="100%" height="200" frameborder="0" style="border:0"></iframe>
						<span class="infograph">
							<ul>
								<li>
									<h4>Patient Rating</h4>
									<p>Patients who gave the hospital a rating of 9 or 10 on a scale of 10</p>
									<span class="donut-graph-container" id="federal">
										<input value="29%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">23%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">12%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Patient Reccomendation</h4>
									<p>Patiends who reported they would definitely recommend this hospital</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph" id="federal">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">52%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">32%</span> lower than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Emergency Room</h4>
									<p>Average time spent in the ER before seeing a healthcare professional</p>
									<span class="large-value white red-fill">
										88<span>minutes</span>
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">23%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">19%</span> higher than national average
										</li>
									</ul>
								</li>
							</ul>
						</span>
					</span>
				</li>
				<li class="active listing">
					<i class="icon-pin green"></i>
					<h5>Prescott Valley Regional Medical Center</h5>
					<span class="summary">
						<span>Accute Care</span>
						<span>352 Licensed Beds</span>
					</span>
					<span class="address">
						<span class="street">1061 Lewisburg Pike</span>
						<span class="city">Franklin, TN 37064</span>
					</span>
					<span class="call-directions">
						<a class="phone" href="tel:+800-555-5555"><i class="icon-phone"></i>800-555-5555</a>
						<a class="getdirections" href="#"><i class="icon-directions"></i>Get Directions</a>
					</span>
					<span class="location-details">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3232.167060331346!2d-86.84919699999999!3d35.89392389999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88647f72c2075df1%3A0xeb3497ab90d6c761!2s1061+Lewisburg+Pike!5e0!3m2!1sen!2sus!4v1399052569715" width="100%" height="200" frameborder="0" style="border:0"></iframe>
						<span class="infograph">
							<ul>
								<li>
									<h4>Patient Rating</h4>
									<p>Patients who gave the hospital a rating of 9 or 10 on a scale of 10</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Patient Reccomendation</h4>
									<p>Patiends who reported they would definitely recommend this hospital</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Emergency Room</h4>
									<p>Average time spent in the ER before seeing a healthcare professional</p>
									<span class="large-value white red-fill">
										88<span>minutes</span>
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
							</ul>
						</span>
					</span>
				</li>
				<li class="listing">
					<i class="icon-pin green"></i>
					<h5>Prescott Valley Regional Medical Center</h5>
					<span class="summary">
						<span>Accute Care</span>
						<span>352 Licensed Beds</span>
					</span>
					<span class="address">
						<span class="street">1061 Lewisburg Pike</span>
						<span class="city">Franklin, TN 37064</span>
					</span>
					<span class="call-directions">
						<a class="phone" href="tel:+800-555-5555"><i class="icon-phone"></i>800-555-5555</a>
						<a class="getdirections" href="#"><i class="icon-directions"></i>Get Directions</a>
					</span>
					<span class="location-details">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3232.167060331346!2d-86.84919699999999!3d35.89392389999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88647f72c2075df1%3A0xeb3497ab90d6c761!2s1061+Lewisburg+Pike!5e0!3m2!1sen!2sus!4v1399052569715" width="100%" height="200" frameborder="0" style="border:0"></iframe>
						<span class="infograph">
							<ul>
								<li>
									<h4>Patient Rating</h4>
									<p>Patients who gave the hospital a rating of 9 or 10 on a scale of 10</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Patient Reccomendation</h4>
									<p>Patiends who reported they would definitely recommend this hospital</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Emergency Room</h4>
									<p>Average time spent in the ER before seeing a healthcare professional</p>
									<span class="large-value white red-fill">
										88<span>minutes</span>
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
							</ul>
						</span>
					</span>
				</li>
				<li class="listing">
					<i class="icon-pin green"></i>
					<h5>Prescott Valley Regional Medical Center</h5>
					<span class="summary">
						<span>Accute Care</span>
						<span>352 Licensed Beds</span>
					</span>
					<span class="address">
						<span class="street">1061 Lewisburg Pike</span>
						<span class="city">Franklin, TN 37064</span>
					</span>
					<span class="call-directions">
						<a class="phone" href="tel:+800-555-5555"><i class="icon-phone"></i>800-555-5555</a>
						<a class="getdirections" href="#"><i class="icon-directions"></i>Get Directions</a>
					</span>
					<span class="location-details">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3232.167060331346!2d-86.84919699999999!3d35.89392389999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88647f72c2075df1%3A0xeb3497ab90d6c761!2s1061+Lewisburg+Pike!5e0!3m2!1sen!2sus!4v1399052569715" width="100%" height="200" frameborder="0" style="border:0"></iframe>
						<span class="infograph">
							<ul>
								<li>
									<h4>Patient Rating</h4>
									<p>Patients who gave the hospital a rating of 9 or 10 on a scale of 10</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Patient Reccomendation</h4>
									<p>Patiends who reported they would definitely recommend this hospital</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Emergency Room</h4>
									<p>Average time spent in the ER before seeing a healthcare professional</p>
									<span class="large-value white red-fill">
										88<span>minutes</span>
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
							</ul>
						</span>
					</span>
				</li>
				<li class="listing">
					<i class="icon-pin green"></i>
					<h5>Prescott Valley Regional Medical Center</h5>
					<span class="summary">
						<span>Accute Care</span>
						<span>352 Licensed Beds</span>
					</span>
					<span class="address">
						<span class="street">1061 Lewisburg Pike</span>
						<span class="city">Franklin, TN 37064</span>
					</span>
					<span class="call-directions">
						<a class="phone" href="tel:+800-555-5555"><i class="icon-phone"></i>800-555-5555</a>
						<a class="getdirections" href="#"><i class="icon-directions"></i>Get Directions</a>
					</span>
					<span class="location-details">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3232.167060331346!2d-86.84919699999999!3d35.89392389999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88647f72c2075df1%3A0xeb3497ab90d6c761!2s1061+Lewisburg+Pike!5e0!3m2!1sen!2sus!4v1399052569715" width="100%" height="200" frameborder="0" style="border:0"></iframe>
						<span class="infograph">
							<ul>
								<li>
									<h4>Patient Rating</h4>
									<p>Patients who gave the hospital a rating of 9 or 10 on a scale of 10</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Patient Reccomendation</h4>
									<p>Patiends who reported they would definitely recommend this hospital</p>
									<span class="donut-graph-container" id="federal">
										<input value="23%" class="donut-graph">
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
								<li>
									<h4>Emergency Room</h4>
									<p>Average time spent in the ER before seeing a healthcare professional</p>
									<span class="large-value white red-fill">
										88<span>minutes</span>
									</span>
									<ul class="compare">
										<li>
											<i class="icon-arrow-up green"></i> <span class="black">7%</span> higher than <span class="no-mobile">Tennessee</span><span class="mobile-only">TN</span> Average
										</li>
										<li>
											<i class="icon-arrow-down red"></i> <span class="black">7%</span> higher than national average
										</li>
									</ul>
								</li>
							</ul>
						</span>
					</span>
				</li>
			</ul>
			<span class="pagination clearfix">
				<ul>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</span>
		</span>

	</span>
</div>
