<div class="find-hero">
    <ul class="breadcrumbs padded clearfix no-mobile">
        <li>
            <a href="/">Livability.com</a>
        </li>
        <li>
            <span>Find a City</span>
        </li>
    </ul>
    <div class="find-hero-content">
        <h1>Find a City</h1>
        <p>
            Search for any city, county, state or metro area in the<br>
            United States to find your best place to live.
        </p>
        <form>
            <input placeholder="Enter a city, state, county or metro area" name="search"><i class="icon-search"></i>
        </form>
    </div>
</div>