            </section>

            <footer class="clearfix shadow-top">
                <div class="content">
                    <span class="learn-more">
                        <span class="heading">Learn more about livability.com</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magLorem ipsum dolor sit amet, consectetur adipisicing elit, sLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...ed do eiusmod tempor incididunt ut labore et dolna aliqua. Ut enim ad minim veniam...ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </span>
                    <span class="site-links">
                        <ul class="left">
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Press Room</a>
                            </li>
                            <li>
                                <a href="#">Newsletters</a>
                            </li>
                            <li>
                                <a href="#">RSS Feed</a>
                            </li>
                        </ul>
                        <ul class="left">
                            <li>
                                <a href="#">Promote Your City</a>
                            </li>
                            <li>
                                <a href="#">Advertise</a>
                            </li>
                            <li>
                                <a href="#">Place Studies</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                        </ul>
                    </span>
                    <span class="social-footer">
                        <a href="#" class="icon-twitter grey"></a>
                        <a href="#" class="icon-googleplus grey"></a>
                        <a href="#" class="icon-facebook-square grey"></a>
                        <a href="#" class="icon-pinterest grey"></a>
                    </span>
                    <span class="logos clearfix">
                        <ul>
                            <li>
                                <img src="/images/logos/aol.png">
                            </li>
                            <li>
                                <img src="/images/logos/cnn.png">
                            </li>
                            <li>
                                <img src="/images/logos/forbes.png">
                            </li>
                            <li>
                                <img src="/images/logos/huffingtonpost.png">
                            </li>
                            <li>
                                <img src="/images/logos/npr.png">
                            </li>
                            <li>
                                <img src="/images/logos/usatoday.png">
                            </li>
                            <li>
                                <img src="/images/logos/wallstreetjournal.png">
                            </li>
                            <li>
                                <img src="/images/logos/yahoo.png">
                            </li>
                        </ul>
                    </span>
                    <span class="copyright">
                        Copyright © 2014 Livability
                    </span>
                    <span class="policy">
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Feedback</a>
                </div>
            </footer>
        </div>
    </div>
    </div>


    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		 http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <!--<script type="text/javascript" src="//use.typekit.net/auq8frp.js"></script>
    <script type="text/javascript">
    try {
        Typekit.load();
    } catch (e) {}
    </script>-->

    <!--Libaries-->
    

    

    
    <!--<script src="/js/lib/fastclick-1.0.0.js"></script>-->
    <script src="/js/lib/modernizr-2.6.2.min.js"></script>
    <script src="/js/lib/cssrefresh.js"></script>
    <script src="/js/lib/jquery.truncate.js"></script>
    <!--<script src="/js/lib/jquery.easing-1.3.js"></script>-->
    
    
    <!-- Custom JS-->
    <script src="/js/master.js"></script>
    
    
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>

</body>

</html>
