<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head id="www-livability-com" data-template-set="html5-reset">

    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Livability</title>

    <meta name="title" content="Livability.com" />
    <meta name="author" content=" " />
    

    <meta name="google-site-verification" content="" />

    <meta name="Copyright" content="Livability.com" />

    <!--  Control Mobile Viewport Fix-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/royalslider.css" />
    <link rel="stylesheet" href="/css/tablet-only.css" />
    <link rel="stylesheet" href="/css/mobile-only.css" />
    <link rel="stylesheet" href="/css/sprites.css" />
    <link rel="stylesheet" href="/css/icons.css" />

    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="http://grantm.github.io/jquery-udraggable/jquery.event.ue.js"></script>
    <script src="/js/lib/jquery.royalslider.min.js"></script>
    <script src="/js/lib/jquery-draggable.js"></script>

</head>

<body>
        
    <div class="nav-container slide mobile-only">
        <div class='go-back'>
            <a href='#'><i class="chev-left-white"></i>BACK</a>
        </div>
        <div class="logo-container">
            <span class="logo">Livability.com</span>
        </div>
        <nav class="no-desktop" role="navigation">
            <ul></ul>
        </nav>
    </div>

    <div class="container">
        <header class="clearfix slide">
                <div class="content clearfix">
                    <div class="logo-container">
                           <a class="logo" href="/">Livability.com</a>
                    </div>
                    <nav class="no-mobile clearfix">
                        <ul>
                            <li><a href="#">Topics<i class="icon-arrow-down white no-mobile"></i><i class="icon-arrow-right white mobile-only"></i></a>
                                <ul class="level-1">
                                    <li><a href="#">Food and Drink</a></li>
                                    <li><a href="#">Arts and Entertainment</a></li>
                                    <li><a href="#">Education and Schools</a></li>
                                    <li><a href="#">Business and Economy</a></li>
                                    <li><a href="#">Housing and Real Estate</a></li>
                                    <li><a href="#">Health and Wellness</a></li>
                                    <li><a href="#">Transportation</a></li>
                                    <li><a href="#">Community</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Find A City</a></li>
                            <li><a href="#">Best Places to Live<i class="icon-arrow-down white no-mobile"></i><i class="icon-arrow-right white mobile-only"></i></a>
                                <ul class="level-1">
                                    <li><a href="#">Top 100 Best Places to Live</a></li>
                                    <li><a href="#">Top 10 Lists</a></li>                            
                                </ul>
                            </li>
                            <li><a href="#">Relocate<i class="icon-arrow-down white no-mobile"></i><i class="icon-arrow-right white mobile-only"></i></a>
                                <ul class="level-1">
                                    <li><a href="#">Moving Estimates</a></li>
                                    <li><a href="#">Moving Checklists</a></li>
                                    <li><a href="#">How to Guides</a></li>
                                    <li><a href="#">Moving Countdown</a></li>
                                    <li><a href="#">Best Places to Live</a></li>
                                </ul>
                            </li>
                            <li class="last"><a href="#">Blog<i class="icon-arrow-down white no-mobile"></i><i class="icon-arrow-right white mobile-only"></i></a>
                                <ul class="level-1">
                                    <li><a href="#">City Amenities</a></li>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="#">Demographics</a></li>
                                    <li><a href="#">Education</a></li>
                                    <li><a href="#">Housing</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Transportation</a></li>
                                    <li><a href="#">Urban Planning</a></li>
                                    <li><a href="#">Blog Contributors List</a></li>
                                </ul>
                            </li>
                        </ul>
        

                    </nav>
                    <span class="right">
                        <ul class="social desktop-only">
                            <li><a href="#" class="icon-facebook-square white"></a></li>
                            <li><a href="#" class="icon-twitter white"></a></li>
                            <li><a href="#" class="icon-googleplus white"></a></li>
                            <li><a href="#" class="icon-pinterest white"></a></li>
                        </ul>
                        
                        <div class="search">
                            <a href="#" class="icon-search white js-expand"></a>
                            <span class="expand-target search-dropdown"><input type="text" placeholder="Example: Prescott, AZ" id="search"><a href="#" class="button-green">Search</a></span>
                        </div>
                        <span class="mobile-menu-button mobile-only">
                            <a href="" class="icon-menu white"></a>
                        </span>
                    </span>                 
                </div>

        </header>
        <div class="slide">
            <section class="clearfix content shadow-lr">