<div class="hero-slider">
    <div class="rsSlide">
        <span class="hero-image center-bg shadow-inset-lr" style="background-image: url('/images/banners/golf.jpg')">Golf is Fun!</span>
        <div class="summary">
            <h2><a href="#"><i class="no-mobile">Community:</i>Top Golf Cities in America</a></h2>
            <p>
                Where’s the best golf cities in America? Our 2014 amenities survey breaks it down by city dolore lorem ipsum dolor sit amet, dolore consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <span class="no-mobile">labore et dolore magna aliqua. Ut enim ad minim veniam...</span>
                <a href="#" class="button-orange">Read more<i class="raquo-white no-mobile"></i></a>
            </p>
        </div>
    </div>
    <div class="rsSlide">
        <span class="hero-image center-bg shadow-inset-lr" style="background-image: url('/images/banners/montevista.jpg')">Random image to test slider</span>
        <div class="summary">
            <h2><a href="#"><i class="no-mobile">Community:</i>Top Golf Cities in America</a></h2>
            <p>
                Where’s the best golf cities in America? Our 2014 amenities survey breaks it down by city.
                <a href="#" class="button-orange">Read more<i class="raquo-white no-mobile"></i></a>
            </p>
        </div>
    </div>
</div>