<div class="state-details">
	<div class="page-hero-slider">
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/montevista6x4.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Featured City
					</span>
					<span class="summary">
						<h2>Asheville, NC</h2>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/golf.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Things to do
					</span>
					<span class="summary">
						<h2>Golf is fun!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/hospital.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Things to do
					</span>
					<span class="summary">
						<h2>Golf is fun!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
	</div>

	<div class="metro-stats clearfix">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103768.43390176742!2d-120.65665795!3d35.63355495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ecdd8f16c5c4bd%3A0x469422f891ccd5ef!2sPaso+Robles%2C+CA+93446!5e0!3m2!1sen!2sus!4v1401312077236" width="93%" height="275" frameborder="0" style="border:0; margin: 20px 3.5% 0"></iframe>
		<div class="padded">
			<ul class="clearfix infograph">
				<li class="one-third">
					<h4>Population</h4>
					<span class="medium-value">
						324,057
					</span>
					<span class="fill-bar" data="324057"></span>
					<span class="change">
						<i class="icon-arrow-up green"></i><strong>7%</strong> Increase over 2013
					</span>
				</li>
				<li class="one-third">
					<h4>Median Household Income</h4>
					<span class="medium-value">
						$117,068
					</span>
					<span class="fill-bar" data="117068"></span>
					<span class="change">
						<i class="icon-arrow-down red"></i><strong>15%</strong> Decrease from 2013
					</span>
				</li>
				<li class="one-third last">
					<h4>Median Home Price</h4>
					<span class="medium-value">
						$100,057
					</span>
					<span class="fill-bar" data="117068"></span>
					<span class="change">
						<i class="icon-arrow-up green"></i><strong>38%</strong> Increase over 2013
					</span>
				
				</li>
			</ul>
		</div>
	</div>

</div>




  