<ul class="active-category mobile-only">
    <li class="active">
        <a href="/city-hospitals.html">
                <i class="icon-health"></i><span>Home</span>
        </a>
    </li>
</ul>

<span class="drag-container">            
    <ul class="all-categories">
        <li class="active" > 
            <a href="/relocate.html">
                <i class="icon-flag"></i><span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-calculator"></i><span>Moving Estimates</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-checklist"></i><span>Moving Checklists</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-guides"></i><span>How to Guides</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-alarm"></i><span>Moving Countdown</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-flag"></i><span>Best Places to Live</span>
            </a>
        </li>
    </ul>
</span>