<ul class="active-category mobile-only">
    <li class="active">
        <a href="/city-hospitals.html">
                <i class="icon-health"></i><span>Home</span>
        </a>
    </li>
</ul>

<span class="drag-container">            
    <ul class="all-categories">
        <li > 
            <a href="/city-sponsored.html">
                <i class="icon-flag"></i><span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-entertainment"></i><span>Things to Do</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Arts & Entertainment</a>
                </li>
                <li>
                    <a href="#">Attractions</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Food and Drink</a>
                </li>
                <li>
                    <a href="#">Shopping</a>
                </li>
                <li>
                    <a href="#">Sports & Recreation</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/city-gallery.html" >
                <i class="icon-photos"></i><span>Photos and Video</span>
            </a>
        </li>
        <li>
            <a href="/city-weather.html">
                <i class="icon-weather"></i><span>Weather</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-education"></i><span>Schools</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Elementary Schools</a>
                </li>
                <li>
                    <a href="#">Middle Schools</a>
                </li>
                <li>
                    <a href="#">High Schools</a>
                </li>
                <li>
                    <a href="#">Universities</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="icon-housing"></i><span>Real Estate</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Housing</a>
                </li>
                <li>
                    <a href="#">Home Values</a>
                </li>
                <li>
                    <a href="#">Moving</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="icon-business"></i><span>Business</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Major Industries</a>
                </li>
                <li>
                    <a href="#">Largest Companies</a>
                </li>
                <li>
                    <a href="#">Employment</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="/city-health.html">
                <i class="icon-health"></i><span>Health</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Healthy Lifestyles</a>
                </li>
                <li class="active">
                    <a href="/city-hospitals.html">Hospitals</a>
                </li>
                <li>
                    <a href="#">Doctors</a>
                </li>
            </ul>   
        </li>
        <li>
            <a href="#">
                <i class="icon-transportation"></i><span>Transportation</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Commute Times</a>
                </li>
                <li>
                    <a href="#">Airports</a>
                </li>
                <li>
                    <a href="#">Major Highways</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="icon-government"></i><span>Government</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">State & Local Officials</a>
                </li>
                <li>
                    <a href="#">Federal Officials</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/city-demo-population.html">
                <i class="icon-demographics"></i><span>Demographics</span>
            </a>
            <ul class="level-1">
                <li>
                    <a href="#">Population</a>
                </li>
                <li>
                    <a href="#">Cost of Living</a>
                </li>
                <li>
                    <a href="#">Income Levels</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="icon-digital-magazine"></i><span>Digital Magazine</span>
            </a>
        </li>

    </ul>
</span>