<ul class="active-category mobile-only">
    <li class="active">
        <a href="/blog-home.html">
                <i class="icon-flag"></i><span>Home</span>
        </a>
    </li>
</ul>

<span class="drag-container">            
    <ul class="all-categories">
        <li> 
            <a href="#">
                <i class="icon-entertainment"></i><span>City Amenities</span>
            </a>
        </li>
        <li class="active"> 
            <a href="/blog-home.html">
                <i class="icon-flag"></i><span>Blog Home</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-community"></i><span>Community</span>
            </a>
        </li>
        <li>
            <a href="#" >
                <i class="icon-demographics"></i><span>Demographics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-education"></i><span>Education</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-housing"></i><span>Housing</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-sustainability"></i><span>Sustainability</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-transportation"></i><span>Transportation</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-urban-planning"></i><span>Urban Planning</span>
            </a>
        </li>
    </ul>
</span>