<div class="promote-your-city-page">
	<div class="hero">
		<h1>
			Marketing Your City on Livability.com <br>
			<strong>Puts You in Focus</strong><br>
			for Millions of Prospective Residents
		</h1>
		<a href="#" class="white-border-link">Get Started</a>
	</div>
	<div class="summary-generic shadow-inset-t">
		<p>More than ever in history, people are relocating to communities not seeking work, but instead looking for a quality of life that fits their desires, whether it is a place with great schools, walkability, sustainability, family amenities or employers who are hiring. Employers then establish offices where the talent lives. Livability.com serves as a guide to the millions of people who search online each year looking for great places to live in the U.S. And now you have an opportunity to own the message we convey about your community and ensure you are marketing your city effectively.</p>
	</div>
	<div class="market-your-city grey-bg shadow-inset-tb section">
		<!--<h2>Livability Helps Market Your City</h2>
		<span class="video-length">(1 min 29 sec video)</span>-->
		<div class="fluid-width-video-wrapper">
			<iframe src="//player.vimeo.com/video/92945444?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid989236"></iframe>
		</div>
	</div>
	<div class="benefits section clearfix">
		<h2>Benefits of Sponsoring Your City</h2>
		<div class="one-q">
			<span class="seal-orange"><i class="icon-photos white"></i></span>
			<h3>TELLING YOUR STORY</h3>
			<p>Our Livability experts partner with community leaders and stakeholders to seek out the characteristics that make your city a great place to live and help you showcase them through engaging content, photography and video.</p>
		</div>
		<div class="one-q">
			<span class="seal-orange"><i class="icon-demographics white"></i></span>
			<h3>OVER 2 MILLION VISITORS</h3>
			<p>Millions of people visit and trust Livability.com as a resource for finding America’s best places to live. Sponsoring your city not only helps us craft your message, but also helps our visitors connect with your community.</p>
		</div>
		<div class="one-q">
			<span class="seal-orange"><i class="icon-flag white"></i></span>
			<h3>WINNING SEARCH TERMS</h3>
			<p>Content wins not only the hearts and minds of people, but also search engines. The more we create on your behalf, the greater success we will have capturing a new audience in search and driving them to your community.</p>
		</div>
		<div class="one-q last">
			<span class="seal-orange"><i class="icon-moving white"></i></span>
			<h3>PROMOTING RELOCATION</h3>
			<p>Livability.com is designed to guide site visitors to consider relocating to the great communities we introduce them to. Those new residents increase your tax base, support local businesses and deliver you a tangible ROI.</p>
		</div>
	</div>
	<div class="city-banner"><img src="/images/cityscape-wide.png"></div>
	<div class="quotes section shadow-inset-tb">
		<i class="icon-quote-open"></i>
		<div class="quotes-slider">
			<span>
				<p>Being present on Livability.com has created a national reach for Rock Springs. This is extremely important as we are experiencing a 3.4 percent unemployment rate, as well as a 3 percent growth rate. This particular medium has improved workforce recruitment, especially in a younger population, which is essential to the community's continued growth and progression.</p>
				<div class="author"><strong>Dave Hanks</strong>, Executive Director <span>Rock Springs Chamber of Commerce</span></div>
			</span>
			<span>
				<p>Having quality content on Livability.com brings our community to the forefront when people are searching for a place to move their family or business. It's the front door to our economic development efforts. This site gives us a competitive edge over other communities they may be looking at. It's an extremely valuable piece of our marketing plan.</p>
				<div class="author"><strong>Treasure McKenzie</strong>, President & CEO <span>Greater Muskogee Area Chamber of Commerce</span></div>
			</span>
			<span>
				<p>Southern Idaho sits in an unparalleled natural setting that provides recreational opportunities, solace and inspiration. Livability.com is the perfect place to share the stories of our communities and to inform new residents, visitors, and businesses about what sets Southern Idaho apart from the rest.</p>
				<div class="author"><strong>Shawn Barigar</strong>, President & CEO <span>Twin Falls Area Chamber</span></div>
			</span>
		</div>
	</div>
	<div class="tiers section clearfix">
		<h2>Sponsorhip Program Tiers</h2>
		<div class="one-third short green-section shadow-lr">
			<span class="circle-icon"><span class="sticker-green-horizontal"><i class="icon-pie-empty white"></i></span></span>
			<p>
				<strong>Dedicated</strong> city editor<br>
 				City and category overviews<br>
				<strong>5</strong> local stories at launch<br>
				Local stories added <strong>semiannually</strong><br>
				<strong>12</strong> syndicated articles annually<br>
				<strong>2,000</strong> social shares annually<br>
				Off-site authority development<br>
				Quarterly activity reports<br>
			</p>
			<span class="cost">
				$15k annually
			</span>
		</div>
		<div class="one-third tall blue-section shadow-lr">
			<span class="circle-icon"><span class="sticker-blue-horizontal"><i class="icon-pie-partial white"></i></span></span>
			<p>
				Everything from the <strong class="green">Green</strong> plan, plus:<br>
				<strong>Custom</strong> photo shoot annually<br>
				<strong>60-90</strong> sec narrated slideshow annually<br>
				Local stories added <strong>quarterly</strong><br>
				<strong>16</strong> syndicated articles annually<br>
				<strong>4,000</strong> social plans annually<br>
			</p>
			<span class="cost">
				$30k annually
			</span>
		</div>
		<div class="one-third short orange-section shadow-lr">
			<span class="circle-icon"><span class="sticker-orange-horizontal"><i class="icon-pie-full white"></i></span></span>
			<p>
				Everything from the <strong class="blue">Blue</strong> plan, plus:<br>
				<strong>90-120</strong> sec video annually<br>
				Local stories added <strong>monthly</strong><br>
				<strong>20</strong> syndicated articles annually<br>
				<strong>8,000</strong> social shares annually<br>
				Personalized <strong>LivScore</strong> report<br>
			</p>
			<span class="cost">
				$45k annually
			</span>
		</div>
		<em>Based on initial contract term of 36 months, beginning in Summer 2014</em>
	</div>
	<div class="section shadow-inset-tb logos clearfix grey-bg">
		<ul>
            <li>
                <img src="/images/logos/aol.png">
            </li>
            <li>
                <img src="/images/logos/cnn.png">
            </li>
            <li>
                <img src="/images/logos/forbes.png">
            </li>
            <li>
                <img src="/images/logos/huffingtonpost.png">
            </li>
            <li>
                <img src="/images/logos/npr.png">
            </li>
            <li>
                <img src="/images/logos/usatoday.png">
            </li>
            <li>
                <img src="/images/logos/wallstreetjournal.png">
            </li>
            <li>
                <img src="/images/logos/yahoo.png">
            </li>
        </ul>
	</div>
	<div class="get-started section clearfix">
		
		<h2>Let’s Work Together to Promote Your City!</h2>
		<h3>COMPLETE THE FORM BELOW TO GET STARTED</h3>

		<div class="one-third"><p>Livability works with communities of all shapes and sizes to help tell your story. Completing this form is the first step in getting your city found by the millions of people searching our site each year. One of our livability experts will be in contact with you shortly to formulate a campaign that aligns with your target audience and begins bringing new residents quickly!</p>
		</div>
		<div class="two-third">
			<form>
				<input type="text" name="first-name" id="first-name" placeholder="First Name *">
				<input type="text" name="first-name" id="first-name" placeholder="Last Name *">
				<input type="text" name="first-name" id="first-name" placeholder="City Name *">
				<input type="text" name="first-name" id="first-name" placeholder="Title or Role">
				<input type="text" name="first-name" id="first-name" placeholder="Email Address *">
				<input type="text" name="first-name" id="first-name" placeholder="Phone Number *">
				<input type="checkbox" name="email-signup" id="email-signup"><label for="email-signup">Yes! I would like to receive emails from Livability.com</label><br>
				<input type="submit" class="button-blue" value="START">
			</form>
		</div>
	</div>
</div>


	
	
