<div class="page-hero-slider">
	<div class="rsSlide">	
		<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/montevista6x4.jpg')" alt="City Banner">
			<span class="hero-details">
				<span class="topic">
					Food and Drink
				</span>
				<span class="summary">
					<h2>The Wild West is Waiting!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
					<a href="#">Read more</a>
				</span>
			</span>		
		</span>
	</div>
	<div class="rsSlide">	
		<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/golf.jpg')" alt="City Banner">
			<span class="hero-details">
				<span class="topic">
					Things to do
				</span>
				<span class="summary">
					<h2>Golf is fun!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
					<a href="#">Read more</a>
				</span>
			</span>		
		</span>
	</div>
	<div class="rsSlide">	
		<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/hospital.jpg')" alt="City Banner">
			<span class="hero-details">
				<span class="topic">
					Things to do
				</span>
				<span class="summary">
					<h2>Golf is fun!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
					<a href="#">Read more</a>
				</span>
			</span>		
		</span>
	</div>
</div>	