<div class="state-city-list">
	<span class="filter clearfix padded shadow-inset-lr grey-bg">
		<div>Filter cities by the following criteria: </div>
		<select>
			<option value="population">Population</option>
			<option value="love">Amount of Love</option>
		</select>
		<input type="checkbox" name="best-places" id="best-places" value="best-places"><label for="best-places">Only show by <strong>Best Places</strong><a href="#" class="info">i</a></label>
		<input type="checkbox" name="featured" id="featured" value="featured"><label for="featured">Only show <strong>Featured</strong><a href="#" class="info">i</a></label>
	</span>
	<ul class="city-list clearfix">
		<li class="active-city">
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Raleigh, <span>NC</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li class="city">
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Denver, CO</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Denver, <span>CO</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Denver County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Denver Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
		<li>
			<span class="city-info">
				<span class="icon-pin"></span>
				<span class="city-state">Raleigh, NC</span>
				<dl>
					<span>
						<dt>Population: </dt>
						<dd>1,500,000</dd>
					</span>
					<span>
						<dt>Median Household Income: </dt>
						<dd>$100,000</dd>
					</span>
					<span>
						<dt>Median Home Price: </dt>
						<dd>$250,000</dd>
					</span>
				</dl>
				<i class="icon-arrow-right-double grey"></i>
			</span>

			<span class="city-details">
				<img class="map" src="/images/maps/charlotte.jpg">
				<h2>Rancho Santa Margarita, <span>CA</span></h2>
				<a href="#" class="button-grey">Visit City</a>
				<dl class="clearfix">
					<dt>County:</dt>
					<dd><a href="#">Williamson County</a></dd>

					<dt>Metro Area:</dt>
					<dd><a href="#">Nashville Metro Area</a></dd>
				</dl>

				<!--#include virtual="/views/small-photo-strip.html"-->    
				
				<!--#include virtual="/views/widgets/city-accolades-small.html"-->
			</span>
		</li>
	</ul>
	<div class="show-more shadow-inset-lr">
		<a href="#">Show more Cities <i class="icon-arrow-down-double white"></i></a>
	</div>

</div>
