<div class="state-details">
	<div class="page-hero-slider">
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/montevista6x4.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Featured City
					</span>
					<span class="summary">
						<h2>Asheville, NC</h2>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/golf.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Things to do
					</span>
					<span class="summary">
						<h2>Golf is fun!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
		<div class="rsSlide">	
			<span class="hero-image center-bg shadow-inset-lr" style="background-image:url('/images/banners/hospital.jpg')" alt="City Banner">
				<span class="hero-details">
					<span class="topic">
						Things to do
					</span>
					<span class="summary">
						<h2>Golf is fun!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis purus, rhoncus nec elit id, laoreet tincidunt nunc. Etiam sollicitudin a nunc luctus blandit. Nunc in vehicula leo, sit amet. </p>
						<a href="#">Read more</a>
					</span>
				</span>		
			</span>
		</div>
	</div>

	<div class="state-stats clearfix shadow-inset-tb">
		<span class="usa-map-blue"></span>
		<div class="padded">
			<ul class="clearfix infograph">
				<li class="one-third">
					<h4>Population</h4>
					<span class="medium-value">
						324,057
					</span>
					<span class="fill-bar" data="324057"></span>
					<span class="change">
						<i class="icon-arrow-up green"></i><strong>7%</strong> Increase over 2013
					</span>
				</li>
				<li class="one-third">
					<h4>Median Household Income</h4>
					<span class="medium-value">
						$117,068
					</span>
					<span class="fill-bar" data="117068"></span>
					<span class="change">
						<i class="icon-arrow-down red"></i><strong>15%</strong> Decrease from 2013
					</span>
				</li>
				<li class="one-third last">
					<h4>Median Home Price</h4>
					<span class="medium-value">
						$100,057
					</span>
					<span class="fill-bar" data="117068"></span>
					<span class="change">
						<i class="icon-arrow-up green"></i><strong>38%</strong> Increase over 2013
					</span>
				
				</li>
			</ul>
		</div>
	</div>

</div>




  