<article>
    <span class="padded clearfix">
        <h1>Top 10 Cities for Affordable Healthcare</h1>
        <span class="synopsis clearfix">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam justo odio, porttitor in commodo ac, tincidunt in metus. Nunc convallis aliquam turpis in ullamcorper. 
            </p>
            
        </span>
        <span class="top-10-nav clearfix">
            <a href="#" class="mobile-only js-expand share-toggle"><i class="icon-share"></i></a>
            <span class="social-full left clearfix expand-target">
                <ul>
                    <li class="facebook">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-facebook-square white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-twitter white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="gplus">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="icon-googleplus white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="pinterest">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="i icon-pinterest white"></i>
                            </span>
                        </a>
                    </li>
                    <li class="addthis last">
                        <a href="#">
                            <span class="metric">
                                9k
                            </span>
                            <span class="logo">
                                <i class="social-addthis-small-white"> + </i>
                            </span>
                        </a>
                    </li>
                </ul>
            </span>

            <span class="right">
                <a href="/top-10-list-city.html" class="button-green next">View the List <i class=" icon-arrow-right-double white"></i></a>
            </span>
        </span>
    </span>    
    <span class="padded">
        <span class="featured-image shadow-bottom  clearfix">
            <span href="#" class="center-bg shadow-inset-lr" style="background-image: url('/images/banners/hospital.jpg')">Golf is Fun!</span>
        </span>
        <span class="l-275">
            <span class="highlights">
                <h4>
                    Ranking Criteria
                </h4>
                <ul class="bullet">
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliquam justo odio, porttitor
                    </li>
                </ul>
            </span>
            <span class="no-mobile"><!--#include virtual="/views/ads/ad180.html"--></span>
            <span class="mobile-only"><!--#include virtual="/views/ads/ad300.html"--></span>
        </span>

        <span class="article-content r-275-full">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tempus est. Fusce sit amet purus sed mauris congue sollicitudin. In hac habitasse platea dictumst. Phasellus urna magna, laoreet in mi vulputate, euismod faucibus nisl. Phasellus volutpat urna lacus, id volutpat risus fermentum ac. Curabitur eu porta est. Morbi quis hendrerit nunc. Donec id felis eget nisi luctus placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vitae nulla a sem bibendum dictum. Suspendisse potenti. Vestibulum in urna ligula. Duis tempor, lacus a luctus rhoncus, nisi felis pharetra erat, sit amet porta arcu nunc id tortor. Sed laoreet massa ac placerat congue.
            </p>

            <p>
                Integer semper enim eget dui vestibulum, eget ultricies enim consequat. Donec laoreet purus a eros sollicitudin, vitae condimentum justo aliquam. Quisque nisl arcu, laoreet non rhoncus a, 
                rhoncus a nunc. In hac habitasse platea dictumst. Curabitur condimentum, sapien quis condimentum vehicula, nulla sapien fermentum felis, eget pellentesque lectus diam non odio. Ut id tempus elit. Morbi vitae turpis eu velit ornare pellentesque.
            </p>

            <p>
                Maecenas vehicula vehicula congue. Ut lacinia sollicitudin urna. Praesent nec urna eu dui faucibus posuere. Vestibulum porttitor massa in tristique condimentum. Donec nec nisi eu urna consectetur gravida eu id lacus. Etiam lacus quam, tempor at feugiat quis, vulputate in ipsum. Suspendisse in sollicitudin turpis. Mauris ultricies facilisis nisi. Nam sit amet lacus id libero aliquam egestas vel vitae dui. Nulla id tempus lorem, eu facilisis lectus. Ut neque libero, rutrum et vulputate sit amet, tempor a magna. Vivamus viverra malesuada augue ut pretium. In adipiscing elit vitae scelerisque ornarw.. 
            </p>
        </span> 
        <span class="top-10-nav clearfix">
            <span class="right">
                <a href="/top-10-list-city.html" class="button-green next">View the List <i class=" icon-arrow-right-double white"></i></a>
            </span>
        </span>
    </span>
      
</article> 