 <li class="top-100-city clearfix">                    
    <span class="city-rank-container">
        <span class="city-rank">1</span>
        <span class="city-score">646</span>
    </span>
    <h2>Palo Alto <span>California</span></h2>
    <span class="city-image">
        <img src="/images/top-100/palo_alto.jpg" alt="City Image">
    </span>
    <span class="city-info">
        <p class="description">
            A truly year-round climate makes outdoor recreation in Eugene possible through four temperate seasons. It’s no wonder Eugene has one of the highest scores for amenities. This leads to low traffic congestion because people bike and walk to work, farmers markets, dining and nightlife. Spending time in the area gets residents engaged in the community and its continual improvement.
        </p>
        <span class="city-stats">
            <dl>
                <dt>Population:</dt>
                <dd>1,266,250</dd>

                <dt>Avg. Family Income:</dt>
                <dd>$100,000</dd>
                
                <dt>Avg. Home Price</dt>
                <dd>$250,000</dd>
            </dl>
            <dl>
                <dt>Job Growth:</dt>
                <dd>10.5%</dd>

                <dt>High Temp in July:</dt>
                <dd>195&deg</dd>

                <dt>Low Temp in Jan:</dt>
                <dd>-25&deg</dd>
            </dl>
        </span>
    </span>
</li>