<div class="cities-nearby widget">
    <h3>Cities Nearby</h3>
    <ul>
        <li>
            <a href="/city-sponsored.html"><span class="number">1</span>Saratoga, CA<i class="icon-arrow-right-circle white"></i></a>
        </li>
        <li>
            <a href="#"><span class="number">2</span>Rancho Santa Margarita, CA<i class="icon-arrow-right-circle white"></i></a>
        </li>
        <li>
            <a href="#"><span class="number">3</span>Washington, DC<i class="icon-arrow-right-circle white"></i></a>
        </li>
        <li>
            <a href="#"><span class="number">4</span>Gig Harbor, WA<i class="icon-arrow-right-circle white"></i></a>
        </li>
        <li>
            <a href="#"><span class="number">5</span>Boulder, CO<i class="icon-arrow-right-circle white"></i></a>
        </li>
    </ul>
</div>