<div class="city-accolades widget">
    <h3>City Accolades</h3>
    <ul>
        <li>
            <span class="seal-orange">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Top 10</span>
            <a href="#">Best College Towns<i class="icon-arrow-right grey"></i></a>
        </li>
        <li>
            <span class="seal-orange">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Top 10</span>
            <a href="#">Best Small Towns<i class="icon-arrow-right grey"></i></a>
        </li>
        <li>
            <span class="seal-orange">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Livability Top 100</span>
            <a href="#">Best Cities to Retire<i class="icon-arrow-right grey"></i></a>
        </li>

    </ul>
</div>