<div class="city-accolades-small">
    <h3>City Accolades</h3>
    <ul>
        <li>
            <span class="seal-orange-small">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Top 10</span>
            <a href="#">Best College Towns</a>
        </li>
        <li>
            <span class="seal-orange-small">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Top 10</span>
            <a href="#">Best Small Towns</a>
        </li>
        <li>
            <span class="seal-orange-small">
                <i class="icon-top10 white"></i>
            </span>
            <span class="accolade">Livability Top 100</span>
            <a href="#">Best Cities to Retire</a>
        </li>

    </ul>
</div>