<span class="comments padded">
    <span class="summary">
        <span class="title">
            <i class="comments-green"></i><span class="count">412</span> Reader Comments
        </span>
        
        <span class="description">
            Use a Facebook account to comment. Subject to Facebook's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>. Your Facebook name, photo other personal information you make public on Facebook will appear with your comment. <a href="#">Learn more</a>
        </span>
    </span>
    <img class="facebook-comments" src="/images/facebook-comments-placeholder.jpg" alt="replace me with Facebook commenting system" />
</span> 