<div class="from-the-blog widget standard stay-full">
    <h3>From the Blog</h3>
    <ul>
        <li>
            <a href="#"><h2>Lorem ipsum dolor sit amet, consectetuer adipiscing </h2></a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
            <p>
                Sed ut perspiciatis unde omnis iste natus error  voluptatersp  iciatis unde om accsantium sono doloremque laudantium, totam rem aperiam, eaque lipson upsom ipsa...
            </p>
            <span class="author clearfix">
                <a href="#">
                    <span class="circle-42 circle" style="background-image: url('/images/headshots/greg.png')"></span>
                    <span class="name-title">Greg Hanson<span> Editor, Livability.com</span></span>
                    <span href="#" class="view-author">View <i class="icon-arrow-right-circle"></i></span>
                </a>
            </span>
        </li>
        <li>
            <a href="#"><h2>Lorem ipsum dolor sit amet, consectetuer adipiscing </h2></a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
            <p>
                Sed ut perspiciatis unde omnis iste natus error  voluptatersp  iciatis unde om accsantium sono doloremque laudantium, totam rem aperiam, eaque lipson upsom ipsa...
            </p>
            <span class="author clearfix">
                <a href="#">
                    <span class="circle-42 circle" style="background-image: url('/images/headshots/greg.png')"></span>
                    <span class="name-title">Greg Hanson<span> Editor, Livability.com</span></span>
                    <span href="#" class="view-author">View <i class="icon-arrow-right-circle"></i></span>
                </a>
            </span>
        </li>
        <li class="last">
            <a href="#"><h2>Lorem ipsum dolor sit amet, consectetuer adipiscing </h2></a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
            <p>
                Sed ut perspiciatis unde omnis iste natus error  voluptatersp  iciatis unde om accsantium sono doloremque laudantium, totam rem aperiam, eaque lipson upsom ipsa...
            </p>
            <span class="author clearfix">
                <a href="#">
                    <span class="circle-42 circle" style="background-image: url('/images/headshots/greg.png')"></span>
                    <span class="name-title">Greg Hanson<span> Editor, Livability.com</span></span>
                    <span href="#" class="view-author">View <i class="icon-arrow-right-circle"></i></span>
                </a>
            </span>
        </li>

    </ul>
</div>