<div class="livability-partners widget standard">
    <h3>Livability 100 Partners</h3>
    <ul>
        <li>
            <span class="partner-logo"><img src="/images/logos/martin-prosperity-institute.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
        <li>
            <span class="partner-logo"><img src="/images/logos/ipsos.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
        <li>
            <span class="partner-logo"><img src="/images/logos/walk-score.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
        <li>
            <span class="partner-logo"><img src="/images/logos/great-schools.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
        <li>
            <span class="partner-logo"><img src="/images/logos/esri.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
        <li>
            <span class="partner-logo"><img src="/images/logos/cnt.jpg"></span>
            <span class="partner-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod.
            </span>
        </li>
   
    </ul>
</div>