<div class="moving-soon widget">
    <span class="moving-soon-container">
        <h3 class="js-expand">Moving Soon?<span class="mobile-only"><i class="icon-arrow-down-circle white expand"></i><i class="icon-arrow-up-circle white expanded"></i></span></h3>
        <span class="expand-target">
            <p>Let us help you get prepared!</p>
            <input type="text" placeholder="Moving to">
            <input type="text" placeholder="Moving from">
            <span class="links clearfix">
                <a href="#" class="button-pink">Start</a>
                <a href="#"><i class="article-grey"></i>Articles</a>
                <a href="#"><i class="check-grey"></i>Checklists</a>
                <a href="#" class="last"><i class="question-grey"></i>FAQs</a>
            </span>
        </span>
    </span>
</div>