<div class="moving-soon-large widget padded">
    <span class="moving-soon-container clearfix">
        <span class="circle-icon"><span class="sticker-orange-horizontal oneq"><i class="icon-moving white"></i></span></span>
        <h3>Moving Soon?</h3>  
        <p>Tell us about your upcoming move and we will provide you with moving estimates, recommended tools, resources and other personalized content.</p>
        <span class="input-container">
            <input type="text" placeholder="Prescott, AZ">
            <input type="text" placeholder="Moving to">
            <input type="text" placeholder="Home size">
            <input type="text" class="datepicker" placeholder="Date">
            <a href="#" class="button-pink">Start</a>
        </span>
    </span>
</div>