<div class="related-articles widget standard stay-full">
    <h3>Related Articles</h3>
    <ul>
        <li>
            <a href="#">
                <span class="thumb-95" style="background-image: url('/images/headshots/greg.png')"></span>
                <h2>How to select a Realtor When Buying a House</h2>
            </a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
        </li>
        <li>
            <a href="#">
                <span class="thumb-95" style="background-image: url('/images/headshots/greg.png')"></span>
                <h2>How to select a Realtor When Buying a House</h2>
            </a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
        </li>
        <li>
            <a href="#">
                <span class="thumb-95" style="background-image: url('/images/headshots/greg.png')"></span>
                <h2>How to select a Realtor When Buying a House</h2>
            </a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
        </li>
        <li>
            <a href="#">
                <span class="thumb-95" style="background-image: url('/images/headshots/greg.png')"></span>
                <h2>How to select a Realtor When Buying a House</h2>
            </a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
        </li>
        <li>
            <a href="#">
                <span class="thumb-95" style="background-image: url('/images/headshots/greg.png')"></span>
                <h2>How to select a Realtor When Buying a House</h2>
            </a>
            <span class="interact"><a class="last" href="#"><i class="icon-comments grey"></i>32 comments</a></span>
        </li>
    </ul>
</div>