<div class="weather widget standard ">
    <h3>Weather forecast <!--for <br><strong>Rancho Santa Margarita</strong>--></h3>
    <span class="right-now">
        <span class="date">MON 4/28</span>
        <span class="temp">70&deg</span>
        <span class="condition">
            <i class="weather-basecloud"></i>
            <i class="weather-snowy"></i>
        </span>
        <span class="temp-toggle">
            <a href="#" class="active fahrenheit">F</a>
            <a href="#" class="celsius">C</a>
        </span>
    </span>
    <span class="forecast">
        <ul>
            <li>
                <span class="day">TUE 4/29</span>
                <span class="condition">
                        <i class="weather-basecloud"></i>
                        <i class="weather-snowy"></i>
                </span>
                <span class="temp">75&deg / 8&deg</span>
            </li>
            <li>
                <span class="day">WED 4/30</span>
                
                <span class="condition">
                    <i class="weather-basecloud"></i>
                    <i class="weather-rainy"></i>
                </span>
                <span class="temp">65&deg / 10&deg</span>
            </li>
            <li>
                <span class="day">THU 5/1</span>
                <span class="condition">
                    <i class="weather-basecloudfull"></i>
                    <i class="weather-sunny"></i>
                </span>
                <span class="temp">95&deg / 150&deg</span>
            </li>            
            <li>
                <span class="day">FRI 5/2</span>
                <span class="condition">
                    <i class="weather-sun"></i>
                </span>
                <span class="temp">25&deg / 15&deg</span>                
            </li>
            <li>
                <span class="day">SAT 5/3</span>
                <span class="condition">
                    <i class="weather-basecloud"></i>
                    <i class="weather-rainy"></i>
                </span>
                <span class="temp">25&deg / 9&deg</span>

            </li>
            <li>
                <span class="day">SUN 5/4</span>
                <span class="condition">
                    <i class="weather-cloud"></i>
                </span>
                <span class="temp">25&deg / 6&deg</span>
            </li>                                    
        </ul>
    </span>
</div>