/**
 * @file
 * Display Suite Two Column - 66/33 stylesheet.
 */

.ds-form {
  width: 100%;
  max-width: 1300px;
}

.ds-left {
  /* Styles for the "left" region go here */
  float:left;
  width: 65%;
  overflow: hidden;
}

.ds-right {
  /* Styles for the "right" region go here */
  float: right;
  width: 33%;
}

@media (max-width: 992px) {
  .ds-left {
    /* Styles for the "left" region go here */
    float:none;
    width: 100%;
  }
  
  .ds-right {
    /* Styles for the "right" region go here */
    float: none;
    width: 100%;
  }
}