.icon-arrow-left-circle, .icon-arrow-right-circle, .icon-arrow-up-circle, .icon-arrow-down-circle {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
}

/* Smartphone Layout Exclusive */
@media only screen and (max-width: 767px) {
  body {
    background: url("/sites/all/themes/liv/livability/images/header-bg-hover.png") 0 0;
    min-width: 320px;
  }

  .no-mobile {
    display: none !important;
  }

  .mobile-only {
    display: initial !important;
  }

  .three-q, .one-q, .one-third, .two-third, .half {
    width: 100%;
  }

  .one-third {
    margin-bottom: 10px;
  }

  .l-300-full, .r-300 {
    width: 100%;
    position: relative;
    padding-right: 0;
    overflow: hidden;
  }

  .l-300-full .column-content {
    padding-bottom: 0;
  }

  .padded {
    padding-left: 15px;
    padding-right: 15px;
  }

  .heading {
    padding-bottom: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
  }

  .page-header {
    padding-bottom: 0;
  }
  .page-header.place-banner {
    height: 248px;
  }

  .left-nav {
    width: 100%;
    height: 58px;
    display: block;
    position: relative;
  }
  .left-nav .drag-container {
    height: 58px;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    width: 2000%;
    margin-left: 48px;
  }
  .left-nav ul li:hover {
    margin-top: 0;
    border-top: none;
  }
  .left-nav ul.active-category {
    width: 48px;
    height: 48px;
    display: block !important;
    position: absolute;
    z-index: 11;
  }
  .left-nav ul.all-categories {
    z-index: 10;
  }
  .left-nav ul.all-categories li.active {
    display: none;
  }
  .left-nav ul.all-categories li:hover, .left-nav ul.all-categories li.active {
    background: none;
  }
  .left-nav ul.all-categories li:hover span, .left-nav ul.all-categories li.active span {
    display: none;
  }
  .left-nav ul {
    height: 48px;
    width: 100%;
    display: block;
    background: #474747;
    position: relative;
  }
  .left-nav ul li {
    float: left;
    width: 48px;
    height: 48px;
    border-bottom: none;
  }
  .left-nav ul li.active a {
    position: absolute;
    left: 0;
    width: 48px;
  }
  .left-nav ul li.active a:before {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #7cc242 transparent transparent transparent;
    position: absolute;
    display: block;
    z-index: 100;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
  }
  .left-nav ul li a {
    text-indent: -2000px;
    padding: 0 0;
    height: 48px;
  }
  .left-nav ul li a i {
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 48px;
    line-height: 3rem;
    text-indent: 0;
    left: 0;
    width: 48px;
  }
  .left-nav li:hover ul.level-1 {
    height: auto;
    position: absolute;
    left: -5px !important;
    top: 48px;
    border-left: 1px solid #c7c7c7;
  }
  .left-nav li:hover ul.level-1 li {
    display: block;
    float: none;
  }
  .left-nav li:hover ul.level-1 li a {
    text-indent: 0;
    line-height: 48px;
    padding: 0 15px;
  }
  .left-nav li:hover ul.level-1 li a:hover {
    background: #7cc242;
    color: #fff;
  }
  .left-nav li:hover ul.level-1 li:first-child {
    padding-top: 0;
  }

  .left-nav-full {
    padding-left: 0;
    margin-top: -10px;
  }

  .top-10-nav {
    position: initial;
  }
  .top-10-nav .button-green {
    z-index: 1;
  }
  .top-10-nav .share-toggle {
    top: 0px;
    right: 0px;
  }
  .top-10-nav .social-full {
    top: 48px;
    right: 0;
  }
  .top-10-nav .top-10-no {
    width: 45px;
    height: 45px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }
  .top-10-nav .city-pin h1, .top-10-nav .city-pin h2, .top-10-nav .blog-pin h1, .top-10-nav .blog-pin h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }

  .right-column {
    padding-bottom: 20px;
  }

  .column-content {
    padding-top: 0;
  }

  .shadow-inset-lr {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-left: none !important;
    border-right: none !important;
  }

  .shadow-lrb {
    border: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  }

  .shadow-lr {
    border: none;
  }

  .shadow-right {
    border-right: none;
  }

  .interact {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 13px;
    line-height: 0.8125rem;
  }
  .interact a {
    padding-left: 18px;
  }

  .share-toggle {
    position: absolute;
    right: 0;
    height: 48px;
    width: 48px;
    text-align: center;
    top: 0;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 48px;
    line-height: 3rem;
  }
  .share-toggle i {
    color: #838383;
    padding: 0;
  }
  .share-toggle:hover {
    text-decoration: none;
  }

  .share-toggle.js-expanded {
    background: #7cc242;
  }
  .share-toggle.js-expanded i:before {
    content: "\00D7";
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 3rem;
    color: #fff;
    font-family: "Arial" !important;
  }

  .social-full.active {
    display: block;
    pointer-events: all;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 2;
  }

  .social-full {
    pointer-events: none;
    z-index: 0;
    padding-top: 0;
    position: absolute;
    overflow: hidden;
    top: 48px;
    margin-bottom: 0;
    right: 0;
    -moz-transform: translate(56px, 0);
    -ms-transform: translate(56px, 0);
    -webkit-transform: translate(56px, 0);
    transform: translate(56px, 0);
    -moz-transform: translate3d(56px, 0, 0);
    -ms-transform: translate3d(56px, 0, 0);
    -webkit-transform: translate3d(56px, 0, 0);
    transform: translate3d(56px, 0, 0);
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }
  .social-full .logo i {
    line-height: 30px;
    margin: 0 auto;
  }
  .social-full ul {
    background: #fff;
  }
  .social-full ul li {
    float: none;
    display: block;
    margin-right: 0;
  }
  .social-full ul li a {
    height: 48px;
    width: 48px;
  }
  .social-full ul li a .logo i {
    line-height: 48px;
  }
  .social-full .metric {
    display: none;
  }

  .card-large .card-bg {
    width: 100%;
    height: 105px;
  }
  .card-large .card-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 0;
    padding: 25px 20px 20px;
  }
  .card-large .card-content .city-pin h1, .card-large .card-content .city-pin h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
  .card-large .icon-pin {
    display: none;
  }
  .card-large .city-stats {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 15px;
    line-height: 0.9375rem;
  }

  header {
    min-height: 45px;
    max-height: 45px;
    min-width: 0;
    background-position: top;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: none;
    z-index: 11;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 4px -2px inset, rgba(0, 0, 0, 0.2) -5px -3px 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 4px -2px inset, rgba(0, 0, 0, 0.2) -5px -3px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 4px -2px inset, rgba(0, 0, 0, 0.2) -5px -3px 2px 5px;
  }
  header.search {
    min-height: 105px;
    max-height: 105px;
  }
  header .logo-container {
    position: relative;
    float: left;
    height: 45px;
    padding: 0;
    background: #7cc242;
    border-bottom: none;
    border-bottom: 1px solid #6da143;
    overflow: hidden;
  }
  header .logo-container .logo {
    width: 138px;
    height: 45px;
    background-size: 146px 32px;
    margin: 0 9px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-position: center middle;
  }
  header .right {
    height: 45px;
  }
  header .right .search {
    border-right: 1px solid #616162;
    border-left: none;
  }
  header .right .search .icon-search {
    padding: 12px;
    border-left: none;
    width: 45px;
    height: 45px;
  }
  header .right .search-dropdown {
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    width: 100%;
    padding: 2%;
  }
  header .right .search-dropdown input {
    width: 70%;
  }
  header .right .search-dropdown .button-green {
    width: 28%;
    text-align: center;
    margin-left: 2%;
  }
  header .right .search-dropdown.active {
    top: 45px;
  }
  header .right .mobile-menu-button {
    cursor: pointer;
  }
  header .right .mobile-menu-button .icon-menu {
    padding: 12px;
    display: block;
    font-size: 20px;
  }
  header .right .mobile-menu-button .icon-menu:hover {
    text-decoration: none;
  }

  .comments .summary {
    height: auto;
    padding: 10px 0;
  }
  .comments .summary .title {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 42px;
    line-height: 2.625rem;
    float: none;
  }
  .comments .summary .title i {
    top: -6px;
  }
  .comments .summary .description {
    padding: 0 0 0;
  }

  .slide-nav {
    display: block;
  }

  .breadcrumbs {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
  }

  .city-pin, .blog-pin {
    padding-top: 0;
  }
  .city-pin h1, .city-pin h2, .blog-pin h1, .blog-pin h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 48px;
    line-height: 3rem;
    margin-left: 0;
  }

  .main .three-q {
    padding-top: 5px;
  }

  .hero-image {
    height: 255px;
  }

  .home .hero-slider {
    margin-top: 0;
  }

  .hero-slider {
    height: 355px;
    margin-top: 0px;
  }
  .hero-slider .rsArrow {
    display: none !important;
  }
  .hero-slider .summary {
    padding: 10px;
    position: absolute;
    bottom: 17px;
    top: 237px;
    background: #fff;
  }
  .hero-slider .summary h2 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
    font-weight: bold;
    padding-bottom: 0;
  }
  .hero-slider .summary h2 a {
    color: #fff;
    text-decoration: none;
  }
  .hero-slider .summary h2 a i {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 14px;
    line-height: 0.875rem;
    font-weight: normal;
    display: block;
  }
  .hero-slider .summary .button-orange, .hero-slider .summary .button-pink {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 14px;
    line-height: 0.875rem;
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    color: #009bd5;
    background: none;
    font-weight: bold;
    margin-top: 0;
    width: auto;
  }
  .hero-slider .summary p {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 14px;
    line-height: 0.875rem;
    color: #3c3c3c;
    margin: 0;
    width: 100%;
  }
  .hero-slider .rsBullets {
    display: block;
    background: white;
  }

  .page-hero-slider {
    height: 275px;
    margin-top: 0px;
  }
  .page-hero-slider .hero-image {
    height: 275px;
  }
  .page-hero-slider .rsArrow {
    display: none !important;
  }
  .page-hero-slider .hero-details {
    padding: 10px 15px 27px;
  }
  .page-hero-slider .hero-details .topic {
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 13px;
    line-height: 0.8125rem;
  }
  .page-hero-slider .hero-details .summary {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 11px;
    line-height: 0.6875rem;
  }
  .page-hero-slider .hero-details .summary p, .page-hero-slider .hero-details .summary h2, .page-hero-slider .hero-details .summary a {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    line-height: 1rem;
  }
  .page-hero-slider .rsBullets {
    display: block;
    background: transparent;
    position: absolute;
    bottom: 5px;
    padding: 0;
  }
  .page-hero-slider .rsBullet span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #999999;
    border: none;
  }
  .page-hero-slider .rsBullet.rsNavSelected span {
    border: none;
    background: #fff;
  }

  .rsDefault .rsGCaption {
    position: absolute;
    float: none;
    left: 0px;
    text-align: left;
    background: black;
    background: rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding: 10px 15px 10px 15px;
    width: auto;
    z-index: 1;
    min-height: 0;
  }

  .rsDefault .rsGCaption h2 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 15px;
    line-height: 0.9375rem;
  }

  .moving-soon .expand-target {
    height: 0;
    display: block;
    overflow: hidden;
  }
  .moving-soon .expand-target.active {
    height: auto;
  }
  .moving-soon .links a {
    margin-right: 5%;
  }

  .moving-soon-large .circle-icon {
    display: none;
  }
  .moving-soon-large .moving-soon-container p {
    padding: 15px;
  }
  .moving-soon-large .input-container input, .moving-soon-large .input-container input.datepicker, .moving-soon-large .input-container a.button-pink {
    width: 100%;
    margin: 10px 0 !important;
  }

  .best-places {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .best-places h1, .best-places ul {
    width: 100%;
    padding-top: 0;
  }
  .best-places h1 {
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
  .best-places h1 span {
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
  .best-places ul li a i {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
  .best-places ul li a span {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 14px;
    line-height: 0.875rem;
    padding: 10px 0 8px 10%;
    height: 6em;
  }

  .home .articles {
    margin-top: 7px;
  }

  .show-more {
    display: none;
  }

  .articles {
    padding: 10px 0;
  }
  .articles .heading {
    padding-left: 20px;
  }
  .articles li .image-icon {
    background: #838383;
  }
  .articles .article-slider {
    width: 100%;
    height: 330px;
  }
  .articles .rsBullets {
    display: none;
  }
  .articles .rsSlide {
    -webkit-backface-visibility: hidden;
    opacity: .5;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transform: translate3d(translateZ(0), 1em, 1em);
    -webkit-transform: translate3d(translateZ(0), 1em, 1em);
    transform: translate3d(translateZ(0), 1em, 1em);
    z-index: 10;
  }
  .articles .rsSlide.rsActiveSlide {
    opacity: 1;
    z-index: 10;
  }
  .articles .rsArrow {
    position: absolute;
    width: 6.15%;
    height: 100%;
    z-index: 5;
    bottom: 0 !important;
    text-indent: -2000px;
    background: none;
  }
  .articles .rsArrow:hover {
    background: none;
  }
  .articles .rsImg {
    margin-top: 0 !important;
  }
  .articles .rsArrowRight {
    right: 0;
  }
  .articles .rsArrowRight:before {
    display: none;
  }
  .articles .rsArrowLeft {
    left: 0;
  }
  .articles .rsArrowLeft:before {
    display: none;
  }
  .articles li {
    position: initial;
    overflow: hidden;
  }
  .articles li.one-third {
    margin-left: 0;
  }
  .articles li .summary {
    padding: 20px 12px;
  }
  .articles li .summary h2 a {
    height: auto;
    overflow: hidden;
    display: block;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 16px;
    line-height: 1rem;
  }
  .articles li .summary .interact {
    padding-top: 10px;
  }

  .state-city-list .filter select, .state-city-list .filter input {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 0;
  }
  .state-city-list .filter div {
    display: block;
  }
  .state-city-list .filter label {
    float: left;
    margin-top: 10px;
  }
  .state-city-list ul.city-list {
    padding-right: 0;
  }
  .state-city-list ul.city-list li {
    padding: 15px 10px;
    border-right: none;
  }
  .state-city-list ul.city-list li .city-details {
    position: relative;
    margin: 15px 0px 0px;
    padding: 18px;
    width: 100%;
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
  }
  .state-city-list ul.city-list li .city-details .map {
    width: 100%;
    height: 150px;
  }
  .state-city-list ul.city-list li dl dt {
    clear: both;
    margin-left: 0;
  }
  .state-city-list ul.city-list li dl dd {
    border-right: none;
  }
  .state-city-list ul.city-list li.active-city .icon-arrow-right-double {
    display: none;
  }

  .summary-generic {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .summary-generic p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 30px;
    line-height: 1.875rem;
  }

  .city-banner img {
    min-width: 800px;
  }

  .section {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .section h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 29px;
    line-height: 1.8125rem;
  }

  .about-us .facts-stats .infograph {
    width: 100%;
  }
  .about-us .facts-stats .infograph .one-q {
    border-right: 0;
    border-bottom: 3px solid #cccccc;
  }
  .about-us .facts-stats .infograph .one-q:last-child {
    border-bottom: 0;
  }

  .estimate-hero .moving-params ul li {
    padding: 20px 20px 45px;
    width: 100%;
    height: auto;
  }
  .estimate-hero .moving-params ul li.house, .estimate-hero .moving-params ul li.date {
    width: 100%;
  }
  .estimate-hero .moving-params ul li:after {
    content: "\f107";
    right: 50%;
    margin-right: -20px;
    bottom: 0;
    top: auto;
  }
  .estimate-hero .moving-params ul li .change {
    bottom: auto;
    left: auto;
    padding-left: 32px;
    position: relative;
    clear: both;
    display: block;
  }
  .estimate-hero .moving-params ul li .stacked {
    clear: none;
  }
  .estimate-hero .moving-params ul li i {
    font-size: 32px;
    font-size: 2rem;
    line-height: 32px;
    line-height: 2rem;
    position: absolute;
    left: 20px;
    top: 23px;
  }
  .estimate-hero .moving-params ul li i.icon-calendar {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .estimate-hero .moving-params ul li h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    padding-left: 32px;
  }
  .estimate-hero .moving-params ul li h3 {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 18px;
    line-height: 1.125rem;
    text-transform: uppercase;
    padding-left: 32px;
  }
  .estimate-hero .moving-params ul li .day, .estimate-hero .moving-params ul li .rooms {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
  .estimate-hero .moving-params ul li .day {
    padding-left: 32px;
  }
  .estimate-hero .moving-params ul li .stacked {
    float: left;
  }
  .estimate-hero .moving-params ul li .stacked h3 {
    padding-left: 0;
  }
  .estimate-hero .get-quote .quote-params {
    border-right: 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 13px;
  }
  .estimate-hero .get-quote .estimate {
    padding-bottom: 30px;
  }

  .signup {
    margin: 50px 0;
  }
  .signup .signup-container:before, .signup .signup-container:after {
    display: none;
  }
  .signup .signup-container form input {
    width: 100% !important;
  }

  .promote-your-city-page .hero {
    height: 250px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .promote-your-city-page .hero h1 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 26px;
    line-height: 1.625rem;
    padding-top: 0;
  }
  .promote-your-city-page .hero .white-border-link {
    margin-top: 20px;
  }
  .promote-your-city-page .benefits.section {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
  }
  .promote-your-city-page .summary p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
  .promote-your-city-page .benefits {
    background-size: 165%;
  }
  .promote-your-city-page .benefits .one-q {
    padding: 20px 0px 0;
    max-width: 350px;
    float: none;
    margin: 0 auto;
  }
  .promote-your-city-page .benefits .one-q.last {
    margin: 0 auto !important;
  }
  .promote-your-city-page .get-started p {
    padding-right: 0;
  }
  .promote-your-city-page .get-started input[type="text"] {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
  .promote-your-city-page .get-started .two-third {
    margin-right: 0;
  }
  .promote-your-city-page .quotes .quotes-slider {
    height: 320px;
  }
  .promote-your-city-page .quotes .quotes-slider p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    padding: 0 0;
  }
  .promote-your-city-page .quotes .quotes-slider .author {
    padding: 45px 0 0;
  }

  .more-stories.mobile-only {
    display: block !important;
    width: 87.5%;
    margin: 10px auto 0;
  }
  .more-stories.mobile-only a.more {
    margin: 0;
    position: relative;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 50px;
    line-height: 3.125rem;
    padding: 0 20px;
    color: #fff;
    display: block;
  }
  .more-stories.mobile-only a.more i {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 49px;
    line-height: 3.0625rem;
  }
  .more-stories.mobile-only a.more:hover {
    text-decoration: none;
  }
  .more-stories.mobile-only ul {
    width: 255px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0 !important;
  }
  .more-stories.mobile-only ul li {
    width: 85px;
  }
  .more-stories.mobile-only ul a {
    padding: 0;
  }
  .more-stories.mobile-only ul span {
    color: #fff;
    padding-bottom: 10px;
  }
  .more-stories.mobile-only ul.active {
    display: block;
    opacity: 1;
    padding-bottom: 10px;
    height: auto;
  }

  .city-details .city-map-small {
    width: 100%;
  }
  .city-details .city-map-small img {
    margin: 0 auto;
  }
  .city-details .city-summary {
    width: 100%;
    padding: 20px 0 0 0;
  }

  .city-topics {
    padding: 10px 15px;
  }
  .city-topics .presented-by {
    position: relative;
    left: 0;
    right: auto;
    display: block;
  }
  .city-topics .presented-by .ad88 {
    margin: 0 0 20px;
  }
  .city-topics ul li .topic-content {
    margin-top: 38px;
    margin-left: 0;
    border-left: none;
    border-top: 1px solid #cccccc;
    padding: 35px 20px 20px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -5px inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -5px inset;
  }
  .city-topics ul li .circle-icon {
    margin-left: 0px;
    top: 9px;
  }
  .city-topics ul li .circle-icon .sticker-orange-vertical {
    background-image: url("/sites/all/themes/liv/livability/images/sticker-orange-horizontal.png");
  }

  .weather.large-forecast .forecast .day {
    float: left;
    line-height: 30px;
  }
  .weather.large-forecast .forecast ul li {
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
    width: 100%;
    position: relative;
    padding: 20px 0;
  }
  .weather.large-forecast .forecast ul li .condition {
    position: absolute;
    right: 0px;
    top: 10px;
    padding-top: 0;
  }
  .weather.large-forecast .forecast ul li .temp-high {
    right: 80px;
    padding-right: 20px;
  }
  .weather.large-forecast .forecast ul li .temp-low {
    right: 45px;
  }
  .weather.large-forecast .forecast ul li .temp-high, .weather.large-forecast .forecast ul li .temp-low {
    width: auto;
    position: absolute;
  }

  .city-weather-detailed .one-third {
    width: 100% !important;
  }
  .city-weather-detailed .radar {
    min-height: 0;
  }

  .locations-nearby .location-listings {
    width: 100%;
  }
  .locations-nearby .location-listings li.listing {
    padding: 18px 0px 18px 40px;
    border-top: 1px solid #e8e8e8;
  }
  .locations-nearby .location-listings li.listing.active {
    border-top: 1px solid #e8e8e8;
  }
  .locations-nearby .location-listings li.listing i.icon-pin {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 1.25rem;
    padding-top: 3px;
  }
  .locations-nearby .location-details {
    height: auto;
    border-left: none;
    width: auto;
    position: relative;
    background: #fff;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
  }
  .locations-nearby .location-details li {
    margin: 0 18px;
  }
  .locations-nearby .location-details li .compare {
    padding-top: 2px;
  }
  .locations-nearby .location-details li .compare li {
    padding-top: 5px;
    padding-left: 28px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 15px;
    line-height: 0.9375rem;
  }
  .locations-nearby .location-details li .compare li i {
    top: 1px;
    left: 8px;
  }

  ul.infograph {
    padding: 0 10px;
  }
  ul.infograph li.one-third, ul.infograph li.half {
    width: 100%;
    padding: 15px 10px;
    border-right: none;
    border-bottom: 3px solid #cccccc;
  }
  ul.infograph li.one-third.last, ul.infograph li.one-third:nth-child(3n+0), ul.infograph li.half.last, ul.infograph li.half:nth-child(3n+0) {
    border-bottom: none;
  }
  ul.infograph li.two-third {
    width: 100%;
    padding: 15px 10px;
    border-right: none;
  }
  ul.infograph li.one-fourth {
    width: 48%;
  }
  ul.infograph li.one-fourth:nth-child(2n+1) {
    clear: left;
  }

  .infograph input.donut-graph {
    width: 50px;
    height: 50px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }
  .infograph label {
    font-size: 9px;
    font-size: 0.5625rem;
    line-height: 12px;
    line-height: 0.75rem;
  }
  .infograph .large-value.red-fill {
    padding: 7px;
    font-size: 32px;
    font-size: 2rem;
    line-height: 34px;
    line-height: 2.125rem;
    text-align: center;
  }
  .infograph .large-value.red-fill span {
    font-size: 9px;
    font-size: 0.5625rem;
    line-height: 10px;
    line-height: 0.625rem;
  }

  .city-detailed-stats .compare-regions, .city-detailed-stats .main-stat, .city-topic-summary .compare-regions, .city-topic-summary .main-stat {
    width: 100%;
    padding: 20px 0;
  }
  .city-detailed-stats .compare-groups, .city-topic-summary .compare-groups {
    padding: 10px 0;
  }
  .city-detailed-stats .compare-regions, .city-topic-summary .compare-regions {
    border-left: none;
    border-top: 1px solid #e8e8e8;
  }
  .city-detailed-stats .compare-regions .one-third, .city-topic-summary .compare-regions .one-third {
    width: 33.3%;
    border-bottom: 0;
  }

  .city-population-summary .one-third {
    border-bottom: 0 !important;
  }
  .city-population-summary ul.infograph li.two-third {
    padding-bottom: 10px;
    border-bottom: 3px solid #cccccc;
  }

  .city-real-estate .powered-by {
    position: absolute;
  }

  .photo-strip-container {
    padding-top: 10px;
  }

  .state-stats {
    height: auto;
    padding: 20px 0;
  }
  .state-stats .usa-map-blue {
    display: none;
  }
  .state-stats ul.infograph li.one-third {
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
  }
  .state-stats ul.infograph li.one-third:last-child {
    border-bottom: none;
  }

  .top-100-banner a {
    margin: 20px 0 0;
    height: 116px;
    width: 100%;
  }
  .top-100-banner a .top-100-txt {
    height: 24px;
    max-width: 280px;
    margin: 0 auto;
  }
  .top-100-banner a .exclusive {
    display: none;
  }

  .top-100 .top-100-links {
    display: none;
  }
  .top-100 .top-100-content li.top-100-city {
    padding-left: 20px;
  }
  .top-100 .top-100-content li.top-100-city .city-rank-container {
    position: relative;
    left: 0;
    float: left;
  }
  .top-100 .top-100-content li.top-100-city .city-rank-container .city-rank {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 40px;
    line-height: 2.5rem;
    height: 40px;
    width: 45px;
  }
  .top-100 .top-100-content li.top-100-city .city-rank-container .city-score {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 25px;
    line-height: 1.5625rem;
    height: 25px;
    width: 45px;
  }
  .top-100 .top-100-content li.top-100-city h2 {
    /*float: left;*/
    padding-top: 10px;
    /*padding-left: 15px;*/
    padding-bottom: 0;
  }
  .top-100 .top-100-content li.top-100-city h2 span {
    display: block;
  }
  .top-100 .top-100-content li.top-100-city .city-image {
    position: relative;
    margin: 0 0 15px 0;
    display: block;
    clear: both;
    max-width: 325px;
    width: 100%;
    clear: both;
  }
  .top-100 .top-100-content li.top-100-city .city-info {
    display: block;
  }
  .top-100 .top-100-content li.top-100-city .description {
    padding-right: 0;
  }
  .top-100 .top-100-content li.top-100-city .city-stats {
    position: relative;
    top: 0;
    right: 0;
  }

  .best-of, .left-nav-full .best-of, .best-of.four {
    padding: 1px 5.7% 0px;
  }
  .best-of ul, .left-nav-full .best-of ul, .best-of.four ul {
    border-top: none;
    border-bottom: none;
    padding: 7px 0;
    width: 100%;
  }
  .best-of ul li, .left-nav-full .best-of ul li, .best-of.four ul li {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 13px 0;
    margin-bottom: 0;
  }
  .best-of ul li:last-child, .left-nav-full .best-of ul li:last-child, .best-of.four ul li:last-child {
    border-bottom: none;
  }
  .best-of ul li a, .left-nav-full .best-of ul li a, .best-of.four ul li a {
    display: block;
    position: relative;
  }
  .best-of ul li a:hover h2, .left-nav-full .best-of ul li a:hover h2, .best-of.four ul li a:hover h2 {
    text-shadow: none;
    text-decoration: underline;
  }
  .best-of ul li .circle, .left-nav-full .best-of ul li .circle, .best-of.four ul li .circle {
    margin: 0 0;
    width: 80px;
    height: 80px;
    float: left;
  }
  .best-of ul li .left, .left-nav-full .best-of ul li .left, .best-of.four ul li .left {
    width: 62%;
  }
  .best-of ul li h2, .left-nav-full .best-of ul li h2, .best-of.four ul li h2 {
    float: left;
    width: auto;
    margin-left: 0;
    position: inherit;
    float: left;
    color: #3c3c3c;
    top: 0;
    padding-left: 13px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    text-shadow: none;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 16px;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .best-of ul li h2 span, .left-nav-full .best-of ul li h2 span, .best-of.four ul li h2 span {
    display: block;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 16px;
    line-height: 1rem;
    text-transform: capitalize;
  }
  .best-of ul li h2 i, .left-nav-full .best-of ul li h2 i, .best-of.four ul li h2 i {
    margin-top: 10px;
  }
  .best-of ul li .interact, .left-nav-full .best-of ul li .interact, .best-of.four ul li .interact {
    display: block;
    float: left;
    padding: 15px 11px 0px 13px;
    margin: 0;
    width: auto;
    text-align: left;
  }
  .best-of ul li .interact a, .left-nav-full .best-of ul li .interact a, .best-of.four ul li .interact a {
    display: initial;
  }

  .popular-cities ul li, .cities-nearby ul li {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }
  .popular-cities ul li .number, .cities-nearby ul li .number {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 45px;
    line-height: 2.8125rem;
    width: 45px;
  }
  .popular-cities ul li i, .cities-nearby ul li i {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }

  .from-the-blog ul li h2 {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 18px;
    line-height: 1.125rem;
  }
  .from-the-blog ul li p {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 16px;
    line-height: 1rem;
  }
  .from-the-blog ul li .author .name-title {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
    line-height: 0.875rem;
  }
  .from-the-blog ul li .author .name-title span {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 13px;
    line-height: 0.8125rem;
  }
  .from-the-blog ul li .author .view-author {
    padding-right: 26px;
    padding-top: 15px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
    line-height: 0.875rem;
  }
  .from-the-blog ul li .author .view-author i {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 1.25rem;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .article .one-q {
    padding-top: 0;
    margin-bottom: 20px;
  }

  article, .blog-index {
    padding-bottom: 0;
  }
  article .l-275, article .r-275-full, .blog-index .l-275, .blog-index .r-275-full {
    width: 100%;
    padding: 0 0;
    position: relative;
    display: block;
  }
  article .r-275-full, .blog-index .r-275-full {
    margin-top: 20px;
  }
  article .highlights, article .quote, .blog-index .highlights, .blog-index .quote {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  article .highlights, .blog-index .highlights {
    margin-bottom: 0;
  }
  article .quote, .blog-index .quote {
    position: relative;
    padding-left: 90px;
  }
  article .quote .quotes-green-large, .blog-index .quote .quotes-green-large {
    position: absolute;
    left: 0;
  }
  article .quote i, .blog-index .quote i {
    margin-left: 0;
  }
  article h1, .blog-index h1 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    padding-bottom: 3px;
    padding-right: 30px;
  }
  article .synopsis, .blog-index .synopsis {
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
  article .synopsis .author, .blog-index .synopsis .author {
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 10px;
    line-height: 0.625rem;
  }
  article .featured-image, .blog-index .featured-image {
    margin-bottom: 15px;
  }
  article .featured-image .center-bg, .blog-index .featured-image .center-bg {
    height: 280px;
  }
  article .highlights, article .quote, .blog-index .highlights, .blog-index .quote {
    max-width: 100%;
  }
  article .article-author .headshot, .blog-index .article-author .headshot {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    top: 20px;
    margin-top: 0;
  }
  article .article-author .bio, .blog-index .article-author .bio {
    margin-left: 80px;
    float: none;
  }
  article .article-author .article-author-container, .blog-index .article-author .article-author-container {
    padding-right: 0;
  }
  article .article-links .half, .blog-index .article-links .half {
    padding-top: 20px;
  }

  .royalSlider {
    height: 280px !important;
  }

  .container {
    width: 100%;
    left: 0px;
    top: 0px;
    padding-top: 45px;
  }

  html.fixed .container {
    position: absolute;
  }

  html.fixed {
    overflow: hidden;
  }

  .nav-container nav {
    margin-left: 0;
  }

  .find .find-hero {
    height: 330px;
    padding: 15px;
  }
  .find .find-hero .find-hero-content {
    padding-top: 48px;
  }
  .find .find-hero .find-hero-content p {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 25px;
    line-height: 1.5625rem;
  }
  .find .find-hero .find-hero-content p br {
    display: none;
  }
  .find .find-hero .find-hero-content form {
    width: 100%;
  }
  .find .find-hero .find-hero-content form input {
    width: 90%;
  }
  .find .find-hero .find-hero-content form i {
    right: 8%;
  }
  .find .states {
    padding: 15px 15px 30px;
  }
  .find .states h1 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 35px;
    line-height: 2.1875rem;
    padding: 10px 0 20px;
  }
  .find .states ul {
    width: 100%;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .find .states ul li {
    width: 50%;
    float: left;
  }
  .find #map {
    display: none;
  }
  .find .most-popular {
    background-size: 1249px 174px;
  }
  .find .most-popular ul {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding-left: 15%;
  }
  .find .most-popular ul.top-three {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding-left: 0;
  }
  .find .most-popular ul.top-three li .no {
    width: 130px;
    height: 130px;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 128px;
    line-height: 8rem;
    background: none;
    margin-bottom: 12px;
  }
  .find .most-popular ul.top-three li:nth-child(1) .no {
    background-color: #f6f6f6;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF6F6F6', endColorstr='#FFF6F6F6');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiLz48c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(50%, #ffffff), color-stop(50%, #e4e4e4), color-stop(58%, #f6f6f6), color-stop(100%, #f6f6f6));
    background-image: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 50%, #e4e4e4 50%, #f6f6f6 58%, #f6f6f6 100%);
    background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 50%, #e4e4e4 50%, #f6f6f6 58%, #f6f6f6 100%);
    background-image: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 50%, #e4e4e4 50%, #f6f6f6 58%, #f6f6f6 100%);
  }

  .container div.slide {
    z-index: 10;
    position: relative;
  }

  .slide {
    overflow: hidden;
  }

  .slide, .nav-container nav > ul, .logo-container, .nav-container.collapsed .go-back {
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .open .slide, .slide.open, .nav-container.collapsed nav > ul, .nav-container.collapsed .logo-container {
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -webkit-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -ms-transform: translate3d(-270px, 0, 0);
    -webkit-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
  }

  .nav-container .level-1, .go-back {
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    -moz-transform: translate(270px, 0);
    -ms-transform: translate(270px, 0);
    -webkit-transform: translate(270px, 0);
    transform: translate(270px, 0);
    -moz-transform: translate3d(270px, 0, 0);
    -ms-transform: translate3d(270px, 0, 0);
    -webkit-transform: translate3d(270px, 0, 0);
    transform: translate3d(270px, 0, 0);
  }

  .nav-container {
    width: 270px;
    height: 100%;
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    right: -270px;
    z-index: 5;
  }
  .nav-container ul {
    padding: 0 18px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .nav-container ul li {
    border-bottom: 1px solid #494949;
    border-right: none;
    height: 52px;
  }
  .nav-container ul li:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: none;
  }
  .nav-container ul li a {
    position: relative;
    height: 52px;
    line-height: 52px;
    padding: 0;
  }
  .nav-container ul li a i {
    position: absolute;
    font-size: 17px;
    right: 0px;
    top: 19px;
    text-decoration: none;
  }
  .nav-container ul li .level-1 {
    top: 0px;
    left: 0;
    position: absolute;
    width: 270px;
    /* 100%; */
    height: auto;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-container ul li .level-1 li {
    /* height: 41px; */
  }
  .nav-container ul li .level-1 li a {
    /* height: 41px; */
    line-height: 41px;
    color: #fff;
  }
  .nav-container ul li .level-1 li:hover {
    background: none;
  }
  .nav-container ul li .level-1 li:first-child:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-container .go-back {
    position: absolute;
    top: 0px;
    line-height: 45px;
    width: 100px;
  }
  .nav-container .go-back a {
    color: #e8e8e8;
    display: block;
    text-transform: uppercase;
  }
  .nav-container .go-back a i {
    margin-right: 5px;
  }
  .nav-container .go-back a:hover {
    text-decoration: none;
  }
  .nav-container .logo {
    background: url(/sites/all/themes/liv/livability/images/logo.png) no-repeat center 6px;
    background-size: 127.5px 28px;
    display: block;
    width: 125px;
    height: 35px;
    position: relative;
    text-indent: -20000px;
    margin: 2px 20px 10px;
  }

  body.page-404 .slide:before {
    height: 0 !important;
  }
}

/*# sourceMappingURL=mobile-only.css.map */
